{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Extrait de compte{% endset %}
{% set page_subtitle %}Retrouvez ci-dessous votre extrait de compte.{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_homepage') }}
{% endblock %}

{% block main_content %}
    <div id="extrait_compte_list"
         data-donnees="{{ extraits }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_homepage') }}
{% endblock %}
