{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Extrait de compte{% endset %}
{% set page_subtitle %}Retrouvez ci-dessous votre extrait de compte.{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_homepage') }}
{% endblock %}

{% block main_content %}
    <div id="extrait_compte_list"
         data-donnees="{{ extraits }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>

{#    <div>#}
{#        <div class="mb-4">#}
{#            <div class="border-b pb-2">#}
{#                <h2 class="text-2xl font-semibold">Extrait de compte</h2>#}
{#            </div>#}
{#            <div class="flex gap-2 mt-4">#}
{#                {% include 'layout/components/tailwind/buttons/button.html.twig' with {#}
{#                    btn_link: path('user_homepage'),#}
{#                    btn_type: active == "logilink" ? 'blue' : 'default',#}
{#                    btn_text: 'LOGILINK'#}
{#                } %}#}
{#                {% if haveTwo %}#}
{#                    {% include 'layout/components/tailwind/buttons/button.html.twig' with {#}
{#                        btn_link: path('user_homepage', {extrait: '2ilink'}),#}
{#                        btn_type: active == "2ilink" ? 'blue' : 'default',#}
{#                        btn_text: '2ILINK'#}
{#                    } %}#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}

{#        <div class="list">#}
{#            <div class="list-table bg-white rounded-md shadow">#}
{#                <div class="items items-extrait">#}
{#                    <div class="item item-header uppercase text-sm bg-gray-200 rounded-t-md text-gray-600">#}
{#                        <div class="item-content">#}
{#                            <div class="item-infos">#}
{#                                <a class="col-1" href="{{ path('user_homepage', {sort: sorter == "ASC" ? "DESC" : "ASC"}) }}">#}
{#                                    <div>Date</div>#}
{#                                    <div class="col-sort">#}
{#                                        <span class="icon-up-arrow"></span>#}
{#                                        <span class="icon-down-arrow"></span>#}
{#                                    </div>#}
{#                                </a>#}
{#                                <div class="col-2">Libellé</div>#}
{#                                <div class="col-3">Lettre</div>#}
{#                                <div class="col-4">Débit (€)</div>#}
{#                                <div class="col-5">Crédit (€)</div>#}
{#                                <div class="col-6">Solde (€)</div>#}
{#                                <div class="col-7 actions"></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    {% if extraits is empty %}#}
{#                        <div class="item border-t">Aucun enregistrement pour le moment.</div>#}
{#                    {% else %}#}
{#                        {% set solde = 0 %}#}
{#                        {% for elem in extraits %}#}
{#                            <div class="item border-t hover:bg-slate-50">#}
{#                                <div class="item-content">#}
{#                                    <div class="item-infos">#}
{#                                        <div class="col-1">{{ elem.writeAt | date('d/m/Y') }}</div>#}
{#                                        <div class="col-2">{{ elem.name }}</div>#}
{#                                        <div class="col-3">{{ elem.letter }}</div>#}
{#                                        <div class="col-4">#}
{#                                            <span class="sub">Débit</span>#}
{#                                            <span>{{ elem.debit | price }}</span>#}
{#                                        </div>#}
{#                                        <div class="col-5">#}
{#                                            <span class="sub">Crédit</span>#}
{#                                            <span>{{ elem.credit | price }}</span>#}
{#                                        </div>#}
{#                                        <div class="col-6">#}
{#                                            {% set solde = solde - (elem.debit) + (elem.credit) %}#}

{#                                            <span class="sub">Solde</span>#}
{#                                            <span>{{ (sorter == "DESC" ? solde * (-1) : solde) | price }}</span>#}
{#                                        </div>#}
{#                                        <div class="col-7 actions">#}
{#                                            {% if elem.file %}#}
{#                                                <a href="{{ path('user_download_invoice', {'id': elem.id}) }}"#}
{#                                                   class="btn-icon btn-icon-outline-primary" target="_blank">#}
{#                                                    <span class="icon-receipt"></span>#}
{#                                                    <span class="tooltip">Facture</span>#}
{#                                                </a>#}
{#                                            {% endif %}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_homepage') }}
{% endblock %}
