{% extends 'app/pages/applications/template.html.twig' %}

{% block title %}Développer mon application mobile et tablette sur mesure avec Logilink{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title">
            <h1>Concevoir <span class="txt-color2">son</span> application<span class="txt-color2">.</span></h1>
        </div>
        <div class="page-category-explain">
            <div class="category-explain-container">
                <p>
                    Les applications mobiles permettent de créer des ponts entre le numérique et le physique. Rapide
                    à lancer et utilisable sans internet, les applications mobiles vous suivront pour optimiser votre
                    productivité et votre travail.
                </p>
            </div>
        </div>
        <section>
            <div class="col-deco">
                <div class="pattern-dots-lg"></div>
            </div>

            <div class="section etude">
                <div class="section-content etude-content">
                    <h2>Etude de projet<span class="txt-color2">.</span></h2>
                    <p>
                        Définissons les problématiques afin comprendre les besoins du projet. Cibler le public qui
                        utilisera l'application nous permettra de concevoir une solution ergonomique et efficace.
                    </p>
                </div>
                <div class="section-image etude-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section proposition">
                <div class="section-image proposition-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="propositions maquette website">
                </div>
                <div class="section-content proposition-content">
                    <h2>Propositions<span class="txt-color2">.</span></h2>
                    <p>
                        L'expérience utilisateur est un point essentiel à une application mobile car elle décrit une
                        interface facile et intuitive à utiliser.
                        <br>
                        <br>
                        La qualité du contenu textuel est indispensable pour une navigation claire. Nous utiliserons au
                        maximum les termes en relation avec l'activité du projet.
                        <br>
                        <br>
                        Le choix des couleurs et des composants auront un grand impact sur l'utilisabilité de
                        l'application. Nous vous guiderons dans ces choix.
                    </p>
                </div>
            </div>

            <div class="section development">
                <div class="section-content development-content">
                    <h2>Développement<span class="txt-color2">.</span></h2>
                    <p>
                        L'équipe en charge du projet va développer les fonctionnalités demandées ainsi que l'interface
                        imaginée durant la conception.
                    </p>
                    <p>
                        De nombreux tests sont réalisés pour garantir la meilleure ergonomie et fiabilité de l'application.
                    </p>
                </div>
                <div class="section-image development-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="propositions maquette website">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="propositions maquette website">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="propositions maquette website">
                </div>
            </div>

            <div class="section online">
                <div class="section-content online-content">
                    <h2>Mise en ligne<span class="txt-color2">.</span></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corporis cum ea ipsam
                        modi odit pariatur, perferendis perspiciatis porro quasi quis voluptate voluptatem voluptatum?
                        Aspernatur iure maiores maxime sequi vitae.
                    </p>
                </div>
                <div class="section-image online-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="propositions maquette website">
                </div>
            </div>
        </section>
    </div>
{% endblock %}
