{% extends 'app/pages/applications/template.html.twig' %}

{% block title %}Développer mon application mobile et tablette sur mesure avec Logilink{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title">
            <h1>La <span class="txt-color2">création</span> de votre application mobile et tablette<span class="txt-color2">.</span></h1>
        </div>
        <div class="page-category-explain">
            <div class="category-explain-container">
                <p>
                    Le développement d'applications mobiles et tablettes sur mesure permettent de créer des ponts
                    entre le numérique et le physique. Rapide à lancer et utilisable sans internet,
                    les applications mobiles vous suivront pour optimiser votre productivité et votre travail.
                    <br>
                    Nous comprenons que la mobilité est essentielle de nos jours, et c'est pourquoi nous mettons un
                    point d'honneur à créer des solutions qui reflètent la singularité de chaque projet.
                </p>
            </div>
        </div>
        <section>
            <div class="col-deco">
                <div class="pattern-dots-lg"></div>
            </div>

            <div class="section etude">
                <div class="section-content etude-content">
                    <h2>Comprendre votre vision<span class="txt-color2">.</span></h2>
                    <p>
                        Nous croyons que la première étape cruciale pour créer une application est de
                        comprendre la vision de votre entreprise et les objectifs que vous souhaitez atteindre.
                        <br>
                        Notre équipe collabore étroitement avec vous pour cerner les détails et les nuances de votre idée.
                    </p>
                </div>
                <div class="section-image etude-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section proposition">
                <div class="section-image proposition-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="propositions maquette website">
                </div>
                <div class="section-content proposition-content">
                    <h2>Conception innovante et intuitive<span class="txt-color2">.</span></h2>
                    <p>
                        Nous pensons que le design est plus qu'une simple esthétique, c'est une expérience.
                        <br>
                        <br>
                        En étroite collaboration avec vous, nous veillons à développer une interface intuitive
                        pour une expérience utilisateur inégalable.
                        <br>
                        <br>
                        Le choix des couleurs et des composants auront un grand impact sur l'utilisabilité de
                        l'application. Nous vous guiderons dans ces choix.
                    </p>
                </div>
            </div>

            <div class="section development">
                <div class="section-content development-content">
                    <h2>Développement<span class="txt-color2">.</span></h2>
                    <p>
                        Loin des solutions prêtes à l'emploi, nous optons pour un développement sur mesure.
                        <br>
                        Chaque fonctionnalité, chaque interaction, est conçue spécifiquement pour répondre
                        à vos besoins particuliers.
                    </p>
                    <p>
                        Une application mobile ou tablette doit être rapide, fiable et compatible avec une variété de
                        dispositifs. Nous nous engageons à fournir des applications qui fonctionnent sans accroc.
                    </p>
                </div>
                <div class="section-image development-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="propositions maquette website">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="propositions maquette website">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="propositions maquette website">
                </div>
            </div>

            <div class="section online">
                <div class="section-content online-content">
                    <h2>Mise en ligne<span class="txt-color2">.</span></h2>
                    <p>
                        Notre engagement envers votre projet ne s'arrête pas à la livraison. Nous fournissons un support
                        continu, des mises à jour régulières, et des améliorations pour maintenir votre application
                        au meilleur niveau.
                    </p>
                </div>
                <div class="section-image online-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="propositions maquette website">
                </div>
            </div>

            <div class="contact">
                <div class="section-title">
                    <h2>Un <span class="txt-color2">projet</span> à réaliser <span class="txt-color2">?</span></h2>
                </div>
                <div class="contact-content">
                    <p>
                        Si vous cherchez à créer une application mobile ou tablette sur mesure qui incarne véritablement
                        votre vision, n'hésitez pas à nous contacter dès aujourd'hui.
                        <br><br>
                        nous sommes prêts à transformer vos idées en applications interactives et conviviales.
                        Faites de votre présence mobile et tablette un succès incontestable avec notre expertise.
                    </p>
                    <div class="cta">
                        <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
