{% extends 'app/pages/applications/template.html.twig' %}

{% block title %}Fokus, application android d'état des lieux immobilier.{% endblock %}

{% block meta_description %}Optimisez vos états des lieux avec notre application spécialisée. Facilitez la gestion et la documentation des états des lieux grâce à notre solution innovante.{% endblock %}
{% block meta_keywords %}application état des lieux, gestion état des lieux, documentation état des lieux, outil état des lieux, Marseille{% endblock %}
{% block openGraph %}
    <meta property="og:description" content="Optimisez vos états des lieux avec notre application spécialisée. Facilitez la gestion et la documentation des états des lieux grâce à notre solution innovante.">
{% endblock %}
{% block twitter %}
    <meta name="twitter:description" content="Optimisez vos états des lieux avec notre application spécialisée. Facilitez la gestion et la documentation des états des lieux grâce à notre solution innovante.">
{% endblock %}

{% block main_content %}
    <div class="page-default page-product">
        <div class="page-category-title page-product-title"
             style="background-image: url('{{ asset('build/app/images/application/products/products-fokus.jpg') }}')"
        >
            <h1>Fokus<span class="txt-color2">.</span></h1>
            <div class="subtitle italic">
                <p>Application mobile pour vos états des lieux.</p>
            </div>
        </div>
        <div class="page-category-explain page-product-explain">
            <div class="col-1">
                <h2>Application<span class="txt-color2">.</span></h2>
                <p>
                    Fokus est une application mobile d’état des lieux pour tablettes ou smartphones Android.
                    La création des états des lieux se fait sur votre terminal ou sur un PC, en vous connectant au
                    portail dédié. Élaboré en étroite collaboration avec des professionnels de l’immobilier,
                    l’application Fokus dispose de tous les outils nécessaires pour un travail fluide, efficace et
                    précis.
                </p>

                <a class="link-italic" href="https://fokus.immo" target="_blank">
                    <span>Présentation complète </span> <span class="icon-right-arrow"></span>
                </a>
            </div>

            <div class="col-2">
                <div>
                    <h3>Avantages<span class="txt-color2">.</span></h3>
                    <div>
                        <ul>
                            <li>- Interface ergonomique</li>
                            <li>- Saisie assistée</li>
                            <li>- Photos illimitées</li>
                            <li>- Signature sur tablette</li>
                            <li>- Rapport soigné incorporant votre logo</li>
                            <li>- Envoi instantané au locataire</li>
                            <li>- Sauvegarde automatique sur un serveur sécurisé</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h3>Plateforme<span class="txt-color2">.</span></h3>
                    <div>
                        <p>Android</p>
                    </div>
                </div>
                <div>
                    <h3>Cible<span class="txt-color2">.</span></h3>
                    <div>
                        <p>Immobilier</p>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="col-deco">
                <div class="pattern-dots-lg"></div>
            </div>

            <div class="contact page-product-cta">
                <div class="section-title">
                    <h2>Informations <span class="txt-color2">et</span> tarifs</h2>
                </div>
                <div class="contact-content">
                    <p>
                        Contactez-nous dès aujourd'hui pour en savoir plus à propos de Fokus.
                    </p>
                    <div class="cta">
                        <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                    </div>
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Import des données<span class="txt-color2">.</span></h2>
                    <p>
                        <i>Si vous utilisez le logiciel de gestion</i>
                        locative <a href="{{ path('app_softwares_gerance') }}">ULTIMMO gérance</a>, les informations
                        de vos biens en gérance et vos états des lieux planifiés seront automatiquement importés sur la tablette.
                        <br><br>
                        <i>Si vous utilisez l’application mobile de façon autonome</i>, vous devez créer le bien lors de son
                        1<sup>er</sup> état des lieux. Pour les suivants, vous récupérerez automatiquement les informations déjà
                        enregistrées, en choisissant spécifiquement les éléments que vous souhaitez reprendre,
                        (avec ou sans les photos, par exemple).
                        <br><br>
                        Ces procédures pratiques vous évitent toute ressaisie avec un gain de temps très net à la clef.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Travailler vite et mieux<span class="txt-color2">.</span></h2>
                    <p>
                        L’interface de l’application Fokus a été pensée pour faciliter vos saisies en s’appuyant sur une
                        bibliothèque pertinente, enrichie par le retour de nos utilisateurs : clefs, relevés de
                        compteurs, pièces, éléments, aspects, couleurs… vous trouverez toutes les références les
                        plus communes pour renseigner sans difficulté votre état des lieux.
                        <br><br>
                        Si une référence vous manque, vous avez toute latitude pour l’ajouter à votre bibliothèque
                        personnelle.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Images et commentaires<span class="txt-color2">.</span></h2>
                    <p>
                        La qualité de fabrication des tablettes et des smartphones modernes permet l’intégration de
                        photos de qualité dans votre rapport. Vous n’êtes pas limité dans vos prises de vues.
                        Les zones importantes de l’image peuvent être soulignées ou cerclées avec un outil de dessin
                        intégré.
                        <br><br>
                        Dans le cas où vous souhaitez éviter l’utilisation d’un clavier, les zones de commentaires sont
                        toutes dotées d’une saisie vocale.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>État des lieux entrant – sortant<span class="txt-color2">.</span></h2>
                    <p>
                        La récupération des données de l’état des lieux précédent vous permet de récupérer
                        l’intégralité des photos et des informations saisies. Vous n’aurez alors qu’à rectifier le rapport
                        précédent au cours de votre visite.
                        <br>
                        De cette manière, vous pouvez établir simultanément un
                        état des lieux sortant et entrant sans aucune perte de temps.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>État des lieux comparatif<span class="txt-color2">.</span></h2>
                    <p>
                        Vous pouvez obtenir un état des lieux comparatif en un clic.
                        <br>
                        Ce document provenant de la fusion des deux derniers états des lieux (entrant et sortant),
                        vous permet d’évaluer en un coup d’œil, les éventuelles mesures à prendre après le départ d’un locataire.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Signature du document<span class="txt-color2">.</span></h2>
                    <p>
                        En fin de visite, un aperçu du rapport d’état des lieux est généré pour relecture par le
                        locataire avant signature. La possibilité de parapher chacune des pages est prévue. Vous
                        pouvez ensuite procéder à la signature puis expédier par email le document finalisé au
                        locataire.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Stockage des états des lieux<span class="txt-color2">.</span></h2>
                    <p>
                        Vos états des lieux sont stockés sur un serveur sécurisé administré par un hébergeur français
                        qui gère ses propres datacenters sans intermédiaire.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            {% include 'app/pages/applications/cta/contact.html.twig' %}
        </section>
    </div>
{% endblock %}
