{% extends 'app/pages/applications/template.html.twig' %}

{% block title %}Memento, application dédié aux gestionnaires de copropriété.{% endblock %}

{% block meta_description %}Optimisez les visites des gestionnaires de copropriété avec notre application spécialisée. Simplifiez la planification, la documentation et le suivi des visites pour une gestion efficace des copropriétés.{% endblock %}
{% block meta_keywords %}application gestion copropriété, visites gestionnaires copropriété, planification visites, documentation visites{% endblock %}

{% block main_content %}
    <div class="page-default page-product">
        <div class="page-category-title page-product-title"
             style="background-image: url('{{ asset('build/app/images/application/products/products-memento.jpg') }}')"
        >
            <h1>Memento<span class="txt-color2">.</span></h1>
            <div class="subtitle italic">
                <p>Application mobile pour les gestionnaires de copropriété.</p>
            </div>
        </div>
        <div class="page-category-explain page-product-explain">
            <div class="col-1">
                <h2>Application<span class="txt-color2">.</span></h2>
                <div class="product-logo">
                    <img src="{{ asset('build/app/images/logos/memento.jpg') }}"
                         alt="logo memento application de gestion de syndic copropriété">
                </div>
                <p>
                    L’application mobile <b>Memento</b> est une application Android dédiée aux syndics de copropriété
                    équipés du logiciel <a href="{{ path('app_softwares_syndic') }}">ULTIMMO Syndic</a>. Dotée d’une
                    interface graphique conviviale, elle fonctionne sur tablette et mobile.
                </p>

                <a class="link-italic" href="https://memento.immo" target="_blank">
                    <span>Présentation complète </span> <span class="icon-right-arrow"></span>
                </a>
            </div>

            <div class="col-2">
                <div></div>
                <div>
                    <h3>Plateforme<span class="txt-color2">.</span></h3>
                    <div>
                        <p>Android</p>
                    </div>
                </div>
                <div>
                    <h3>Secteur<span class="txt-color2">.</span></h3>
                    <div>
                        <p>Immobilier</p>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="col-deco">
                <div class="pattern-dots-lg"></div>
            </div>

            <div class="contact page-product-cta">
                <div class="section-title">
                    <h2>Informations <span class="txt-color2">et</span> tarifs</h2>
                </div>
                <div class="contact-content">
                    <p>
                        Contactez-nous dès aujourd'hui pour en savoir plus à propos de Memento.
                    </p>
                    <div class="cta">
                        <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                    </div>
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Import des informations de la copropriété<span class="txt-color2">.</span></h2>
                    <p>
                        Lors de la visite d’une copropriété, le gestionnaire doit se montrer proactif et communiquer
                        son rapport dans les meilleurs délais.
                        <br>
                        <br>
                        Memento répond parfaitement à ces exigences, tout d’abord en important les informations
                        relatives aux personnes et à l’immeuble : liste des copropriétaires et membres du CS avec leurs
                        coordonnées, liste des fournisseurs, bâtiments et escaliers.
                        <br><br>
                        Il vous suffit de cocher les présents et de sélectionner le type de visite (réunion CS, visite
                        contractuelle, expertise…) pour être opérationnel.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Visite et rapport<span class="txt-color2">.</span></h2>
                    <p>
                        La prise de note inclue la saisie vocale, et le nombre de photos associées aux commentaires
                        n’est pas limité. Pour plus de clarté, un outil de dessin vous permet de cerner les zones clefs
                        de vos images.
                        <br><br>
                        En fin de visite, Memento génère un rapport soigné, structuré selon vos préférences (vous
                        pouvez grouper les informations par bâtiment ou par type d’intervention). Ce document au
                        format pdf est transmis à votre logiciel de syndic pour archivage et publication éventuelle sur
                        l’extranet de la copropriété.
                        <br><br>
                        Vous pouvez ensuite l’expédier à l’ensemble des copropriétaires et, si nécessaire, aux
                        personnes extérieures devant intervenir sur site.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Demandes d’intervention<span class="txt-color2">.</span></h2>
                    <p>
                        Les travaux en cours sont importés dans l’application Memento en début de visite. Cette
                        fonctionnalité vous permet d’avoir accès à toutes les informations nécessaires.
                        <br><br>
                        S’il faut entreprendre de nouveaux travaux, vous pouvez les ajouter, choisir l’un de vos
                        fournisseurs et lui envoyer directement un descriptif avec demande d’intervention.
                        Si ces travaux nécessitent un devis, vous pourrez suivre la même procédure, et transmettre
                        sans attendre votre demande de devis.
                        <br><br>
                        Toute demande effectuée par le biais de votre application mobile apparaît clairement dans le
                        rapport de visite, datée du jour avec la référence du fournisseur sollicité. Les coordonnées
                        des personnes à contacter sur place sont également indiquées.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Synchronisation avec le logiciel de syndic<span class="txt-color2">.</span></h2>
                    <p>
                        Les données de votre application mobile sont synchronisées avec celles de votre logiciel de
                        syndic. À votre retour, retrouvez tous les éléments de la visite dans votre poste de travail.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            {% include 'app/pages/applications/cta/contact.html.twig' %}
        </section>
    </div>
{% endblock %}
