{% extends 'app/pages/softwares/template.html.twig' %}

{% block title %}Ultimmo Gérance, logiciel de gestion locative.{% endblock %}

{% block meta_description %}Découvrez notre logiciel de gérance à Marseille. Optimisez la gestion locative, le suivi des baux, la comptabilité et la communication avec les propriétaires et locataires grâce à notre solution dédiée pour les professionnels de la gérance immobilière.{% endblock %}
{% block meta_keywords %}logiciel gérance, gestion locative, suivi des baux, comptabilité immobilière, communication propriétaires locataires{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title page-product-title"
             style="background-image: url('{{ asset('build/app/images/software/products/products-gerance.jpg') }}')"
        >
            <h1>ULTIMMO Gérance<span class="txt-color2">.</span></h1>
            <div class="subtitle italic">
                <p>Logiciel de gestion locative.</p>
            </div>
        </div>
        <div class="page-category-explain page-product-explain">
            <div class="col-1">
                <h2>Logiciel en ligne<span class="txt-color2">.</span></h2>
                <div class="product-logo">
                    <img src="{{ asset('build/app/images/logos/gerance.svg') }}"
                         alt="logo ultimmo gerance logiciel de gestion locative">
                </div>
                <p>
                    Le logiciel de gestion locative <b>ULTIMMO Gérance</b> prend en charge toutes les opérations
                    courantes du métier de gérant : Aide à la déclaration des revenus fonciers, traitement des
                    relances, suivi des travaux… Il dispose de nombreux automatismes destinés à simplifier le
                    travail quotidien de vos équipes.
                </p>
            </div>

            <div class="col-2">
                <div>
                    <h3>Avantages<span class="txt-color2">.</span></h3>
                    <div>
                        <ul>
                            <li>- Mutation de bien lors d’une vente ou d’une succession</li>
                            <li>- Remboursement automatique des locataires créditeurs</li>
                            <li>- État des dettes locataires envoyés par SMS ou par email</li>
                            <li>- Calcul de la GLI</li>
                            <li>- Vérification simplifiée du paiement des provisions pour charges exigées par un syndic externe</li>
                            <li>- Situation des lots par propriétaires pour la déclaration aux impôts</li>
                            <li>- GED et Archivage de vos documents</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h3>Plateforme<span class="txt-color2">.</span></h3>
                    <div>
                        <p>Ordinateur</p>
                    </div>
                </div>
                <div>
                    <h3>Secteur<span class="txt-color2">.</span></h3>
                    <div>
                        <p>Immobilier</p>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="col-deco">
                <div class="pattern-dots-lg"></div>
            </div>

            <div class="contact page-product-cta">
                <div class="section-title">
                    <h2>Informations <span class="txt-color2">et</span> tarifs</h2>
                </div>
                <div class="contact-content">
                    <p>
                        Contactez-nous dès aujourd'hui pour en savoir plus à propos de ULTIMMO Gérance.
                    </p>
                    <div class="cta">
                        <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                    </div>
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Connexion avec les logiciels de syndic et de transaction<span class="txt-color2">.</span></h2>
                    <p>
                        Si vous utilisez le logiciel <a href="{{ path('app_softwares_syndic') }}">ULTIMMO Syndic</a>,
                        une interface permet la récupération des appels de fonds et des données utiles pour le calcul
                        du solde charge des locataires.
                        <br><br>
                        Si vous utilisez le logiciel de <a href="{{ path('app_softwares_lotys') }}">transaction LOTYS</a>,
                        l’export des biens gérés à relouer est automatique, ce qui vous évite un fastidieux travail
                        de ressaisie des informations.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Configuration personnalisée<span class="txt-color2">.</span></h2>
                    <p>
                        Le développement permanent d’ULTIMMO gérance vous permet de profiter de solutions
                        innovantes en phase avec vos objectifs stratégiques.
                        <br><br>
                        Découvrez les traitements qui peuvent optimiser la productivité de vos services tout en
                        améliorant leur qualité de travail.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Versements CAF<span class="txt-color2">.</span></h2>
                    <p>
                        Si vous êtes titulaire d’un compte Partenaire avec la Caisse des Allocations Familiales, cette
                        solution constitue le fichier des locataires bénéficiaires et intègre automatiquement les
                        versements qu’ils ont perçus dans votre comptabilité.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Virement Alur<span class="txt-color2">.</span></h2>
                    <p>
                        L’ouverture d’un livret A pour la trésorerie des copropriétés a été facilitée par un décret
                        d’application de la loi ALUR.
                        <br><br>
                        La fonctionnalité Virement Alur prend en charge le virement compte à compte entre le compte
                        courant et le livret A fonds ALUR.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Relances automatiques<span class="txt-color2">.</span></h2>
                    <p>
                        En cas d’impayé de loyer, cet outil expédie automatiquement au locataire une 1<sup>ère</sup> relance avec son avis d’échéance.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>SMS (relances locataires, info)<span class="txt-color2">.</span></h2>
                    <p>
                        Les relances et les informations diffusées aux locataires peuvent être faites par SMS grâce à
                        cet outil.
                        <br><br>
                        Avec un taux d’ouverture de 98%, très supérieur à celui d’un email, le SMS reste le
                        meilleur moyen d’échange avec vos locataires.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Intégration des Factures<span class="txt-color2">.</span></h2>
                    <p>
                        La saisie manuelle des factures est une tâche chronophage, source d’erreur, et sans valeur
                        ajoutée.
                        <br><br>
                        Pour éviter cette perte de productivité inutile, la meilleure
                        solution est <strong>l’intégration automatique des factures</strong> de
                        prestataires majeurs comme EDF, ENGIE et PROXYDRO (Importation des fichiers de relevé de compteur).
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Intégration des écritures bancaires<span class="txt-color2">.</span></h2>
                    <p>
                        Cette solution vous permet de gagner un temps précieux en intégrant automatiquement, les
                        virements des locataires, des propriétaires et les frais bancaires.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Extranet propriétaires – locataires<span class="txt-color2">.</span></h2>
                    <p>
                        <a href="https://gerancedirecte.fr" target="_blank">gerancedirecte.fr</a> simplifie votre
                        communication avec les locataires et les propriétaires en leur donnant accès aux documents
                        essentiels pour la tenue de leurs comptes : avis d’échéances, quittances de loyers, solde
                        charges, décomptes de gestion, déclaration des revenus fonciers, baux locatifs…).
                        <br><br>
                        Vous êtes libre de publier les documents que vous souhaitez mettre en ligne.
                    </p>
                    <ul>
                        <li>Interface Intuitive et Conviviale</li>
                        <li>Paiement en ligne simple et sécurisé</li>
                        <li>Historique de l’extrait de compte sur 3 ans avec justificatifs attachés</li>
                    </ul>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Solution SCI<span class="txt-color2">.</span></h2>
                    <p>
                        Pour éviter la ressaisie des écritures comptables, cet outil exporte automatiquement la
                        comptabilité des SCI vers leur logiciel de comptabilité.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            {% include 'app/pages/softwares/cta/contact.html.twig' %}
        </section>
    </div>
{% endblock %}
