{% extends 'app/pages/softwares/template.html.twig' %}

{% block title %}Lotys, logiciel de transaction immobilière en ligne.{% endblock %}

{% block meta_description %}Découvrez notre logiciel en ligne de transaction immobilière à Marseille. Simplifiez et sécurisez le processus de vente, de location et de gestion des biens immobiliers grâce à notre solution innovante pour les professionnels de l'immobilier.{% endblock %}
{% block meta_keywords %}logiciel transaction immobilière, vente immobilière, location immobilière, gestion immobilière en ligne{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title page-product-title"
             style="background-image: url('{{ asset('build/app/images/software/products/products-lotys.jpg') }}')"
        >
            <h1>Lotys<span class="txt-color2">.</span></h1>
            <div class="subtitle italic">
                <p>Logiciel de transaction immobilière en ligne.</p>
            </div>
        </div>
        <div class="page-category-explain page-product-explain">
            <div class="col-1">
                <h2>Logiciel en ligne<span class="txt-color2">.</span></h2>
                <p>
                    Lotys est un logiciel de transaction immobilière en ligne, accessible depuis n’importe quel
                    appareil mobile, téléphone ou tablette.
                    <br>
                    <br>
                    Doté d’une interface conviviale et de toutes les fonctionnalités nécessaires pour gérer
                    efficacement vos ventes et vos locations, Lotys est à la fois souple et performant.
                    <br>
                    Sa prise en main est à la portée de tous.
                </p>

                <a class="link-italic" href="https://lotys.fr" target="_blank">
                    <span>Accès au logiciel en ligne </span> <span class="icon-right-arrow"></span>
                </a>
            </div>

            <div class="col-2">
                <div>
                    <h3>Avantages<span class="txt-color2">.</span></h3>
                    <div>
                        <ul>
                            <li>- Full web</li>
                            <li>- Rapprochements acquéreurs / vendeurs</li>
                            <li>- Multidiffusion des annonces</li>
                            <li>- Fiches vitrines et documents personnalisables</li>
                            <li>- Agenda professionnel synchronisé</li>
                            <li>- Import automatique des locations depuis ULTIMMO gérance</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h3>Plateforme<span class="txt-color2">.</span></h3>
                    <div>
                        <p>Internet avec ordinateur, tablette et smartphone</p>
                    </div>
                </div>
                <div>
                    <h3>Cible<span class="txt-color2">.</span></h3>
                    <div>
                        <p>Immobilier</p>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="col-deco">
                <div class="pattern-dots-lg"></div>
            </div>

            <div class="contact page-product-cta">
                <div class="section-title">
                    <h2>Informations <span class="txt-color2">et</span> tarifs</h2>
                </div>
                <div class="contact-content">
                    <p>
                        Contactez-nous dès aujourd'hui pour en savoir plus à propos de Lotys transaction.
                    </p>
                    <div class="cta">
                        <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                    </div>
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Réglages Personnalisés<span class="txt-color2">.</span></h2>
                    <p>
                        Lotys vous donne accès à de nombreux paramétrages pour configurer le logiciel selon vos
                        attentes professionnelles, comme la mise en forme de vos <strong>fiches vitrines</strong> et
                        des documents édités par le logiciel, la durée par défaut des mandats, le contenu rédactionnel de vos
                        <strong>dossiers d’estimation</strong>, l’ajout et le placement d’un filigrane ou de bandeaux
                        sur les photos de vos annonces immobilières, etc.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/software/products/lotys/settings.jpg') }}" alt="exemples pages personnalisation logiciel transaction">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Publication des annonces<span class="txt-color2">.</span></h2>
                    <p>
                        Vous pouvez choisir d’exporter vos annonces immobilières automatiquement (envoi
                        quotidien) ou manuellement, selon vos impératifs.
                        <br><br>
                        Tous les portails majeurs de l’immobilier sont disponibles (SeLoger, Le Bon Coin, Logic-Immo,
                        Bien Ici, Surface Privé, Meilleurs Agents, Le Figaro, Annonces Jaunes…).
                        D’autres portails spécifiques peuvent être ajoutés à la demande.
                        <br><br>
                        L’historique de vos publications au jour le jour est consultable à tout moment.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/software/products/lotys/publish.jpg') }}" alt="pages de publications du logiciel en ligne">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Gestion des prospects<span class="txt-color2">.</span></h2>
                    <p>
                        Chaque négociateur peut éditer la liste des prospects, paramétrer les critères de sélection à
                        retenir pour établir <strong>les rapprochements</strong>, éditer un <strong>bon de visite</strong>,
                        programmer ses rendez-vous et voir en un clin d’œil toutes les actions engagées pour chaque bien (calendrier des
                        visites, rapprochements, historique des modifications du bien…).
                        <br><br>
                        La liste des visites effectuées pour chaque prospect est consultable en un clic.
                        <br>br
                        Une fonction de messagerie intégrée permet également de <strong>partager les annonces</strong> avec les
                        clients potentiellement intéressés.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/software/products/lotys/prospects.jpg') }}" alt="page de gestion des prospects du logiciel">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Rapports d’activité<span class="txt-color2">.</span></h2>
                    <p>
                        Lotys vous permet d’éditer un rapport d’activités à destination des propriétaires bailleurs et
                        des vendeurs avec l’historique de publications des annonces immobilières sur chaque portail,
                        la liste des visites effectuées, et les éventuelles évolutions de prix par rapport au prix initial.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/software/products/lotys/rapport.jpg') }}" alt="un page d'un rapport d'activité">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Rapports d’estimation<span class="txt-color2">.</span></h2>
                    <p>
                        Le rapport d’estimation destiné aux propriétaires bailleurs est construit à votre image
                        (couleurs de votre charte graphique, logo de votre société), et son contenu écrit peut être
                        modifié selon vos préférences spécifiques.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/software/products/lotys/estimation.jpg') }}" alt="une page d'un rapport d'estimation posé sur un bureau">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Synchronisation de votre agenda<span class="txt-color2">.</span></h2>
                    <p>
                        Pour simplifier la gestion de votre emploi du temps, le logiciel de transaction Lotys dispose
                        d’une fonction de synchronisation avec les agendas Google et Microsoft Exchange.
                        <br><br>
                        Cette synchronisation est bidirectionnelle. Tous les rendez-vous ajoutés dans Lotys seront donc
                        automatiquement reportés dans vos autres agendas, et réciproquement.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/software/products/lotys/agenda.jpg') }}" alt="exemples pages agenda du logiciel">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Import automatique des biens à louer<span class="txt-color2">.</span></h2>
                    <p>
                        Si vous utilisez le logiciel de gestion
                        locative <a href="{{ path('app_softwares_gerance') }}">ULTIMMO Gérance</a>, l’ajout de vos biens
                        en relocation pourra se faire automatiquement, vous évitant ainsi la ressaisie des
                        caractéristiques de la fiche descriptive.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/software/products/lotys/transfert.jpg') }}" alt="cadre information de l'import automatique des biens du logiciel">
                </div>
            </div>

            {% include 'app/pages/softwares/cta/contact.html.twig' %}
        </section>
    </div>
{% endblock %}
