{% extends 'app/pages/softwares/template.html.twig' %}

{% block title %}Magesto, logiciel de facturation et devis en ligne.{% endblock %}

{% block meta_description %}implifiez la gestion de vos devis, factures et relances avec notre logiciel en ligne. Créez des factures récurrentes, envoyez-les par mail automatiquement et stockez-les de manière sécurisée. Gagnez du temps et évitez les erreurs grâce à une solution facile à prendre en main.{% endblock %}
{% block meta_keywords %}logiciel de facturation en ligne, gestion des devis et factures, facturation récurrente, envoi automatique de factures, stockage sécurisé de factures, simplification de la gestion des factures, logiciel devis factures simple, organisation des relances clients, logiciel gestion commerciale, automatisation des factures, solution de facturation intuitive{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title page-product-title"
             style="background-image: url('{{ asset('build/app/images/software/products/products-magesto.jpg') }}')"
        >
            <h1>Magesto<span class="txt-color2">.</span></h1>
            <div class="subtitle italic">
                <p>Logiciel de facturation et devis en ligne.</p>
            </div>
        </div>
        <div class="page-category-explain page-product-explain">
            <div class="col-1">
                <h2>Logiciel en ligne<span class="txt-color2">.</span></h2>
                <div class="product-logo">
                    <img src="{{ asset('build/app/images/logos/magesto.svg') }}"
                         alt="logo lotys logiciel de facturation et devis en ligne">
                </div>
                <p>
                    <b>Magesto</b> est un logiciel de facturation et devis en ligne (Saas « <em>Software as a Service</em> »), accessible depuis n’importe quel
                    appareil mobile, téléphone ou tablette doté d'une connexion internet.
                    <br>
                    <br>
                    Doté d’une interface conviviale et de toutes les fonctionnalités nécessaires pour gérer
                    efficacement vos devis, factures et relances, Magesto permet de réduire le temps dédié à la rédaction de vos documents.
                    <br>
                    Sa prise en main est à la portée de tous.
                </p>

                <a class="link-italic" href="https://magesto.fr" target="_blank">
                    <span>Accès au logiciel en ligne </span> <span class="icon-right-arrow"></span>
                </a>
            </div>

            <div class="col-2">
                <div>
                    <h3>Avantages<span class="txt-color2">.</span></h3>
                    <div>
                        <ul>
                            <li>- Full web</li>
                            <li>- Factures récurrentes</li>
                            <li>- Envoie des factures par mail automatique</li>
                            <li>- Relance des factures</li>
                            <li>- Document de comptabilité</li>
                            <li>- Historique et accès rapides aux clients</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Plateforme<span class="txt-color2">.</span></h3>
                        <div>
                            <p>Internet avec ordinateur, tablette et smartphone</p>
                        </div>
                    </div>
                    <div>
                        <h3>Secteur<span class="txt-color2">.</span></h3>
                        <div>
                            <p>Tous</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="col-deco">
                <div class="pattern-dots-lg"></div>
            </div>

            <div class="contact page-product-cta">
                <div class="section-title">
                    <h2>Informations <span class="txt-color2">et</span> tarifs</h2>
                </div>
                <div class="contact-content">
                    <p>
                        Contactez-nous dès aujourd'hui pour en savoir plus à propos de Magesto.
                    </p>
                    <div class="cta">
                        <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                    </div>
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Devis et factures en toute simplicité<span class="txt-color2">.</span></h2>
                    <p>
                        Magesto vous offre une solution rapide et intuitive pour gérer efficacement vos <b>devis, factures, avoirs</b>,
                        et bien plus encore. Avec une prise en main simplifiée, vous n'avez pas
                        besoin de compétences techniques avancées pour commencer à l'utiliser. En quelques clics,
                        vous pouvez générer vos documents et les <b>envoyer automatiquement à vos clients</b> par e-mail.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/software/products/magesto/ajouter-facture.jpg') }}" alt="exemple page ajouter une facture du logiciel en ligne">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Facturation récurrente sans effort<span class="txt-color2">.</span></h2>
                    <p>
                        Ne perdez plus de temps à recréer les mêmes factures chaque mois ! Notre fonctionnalité
                        de <b>factures récurrentes</b> vous permet d'automatiser ce processus.
                        <br><br>
                        Créez une fois votre facture et laissez notre système l'envoyer aux échéances que vous définissez.
                        Cela vous aide à éviter les erreurs de saisie et à gagner un temps précieux.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/software/products/magesto/traitement-recurrent.jpg') }}" alt="page traitement récurrent des factures">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Centralisation et sécurité des documents<span class="txt-color2">.</span></h2>
                    <p>
                        Vos factures sont stockées de manière <b>sécurisée</b> sur notre plateforme, vous offrant ainsi un
                        accès rapide et organisé à tous vos documents. Que ce soit pour une consultation rapide ou
                        pour un besoin d’archivage, tout est centralisé en un seul endroit.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/software/products/magesto/archivage.jpg') }}" alt="page du logiciel sur l'archivage des documents">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Mieux s'organiser pour une gestion plus fluide<span class="txt-color2">.</span></h2>
                    <p>
                        Grâce à notre solution, vous pouvez mieux gérer vos <b>relances clients</b>, suivre l'évolution de vos
                        paiements et rester à jour dans votre facturation. Fini les oublis et les retards,
                        tout est conçu pour vous permettre de rester organisé et d’avoir une vision claire de votre activité.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/software/products/magesto/historique.jpg') }}" alt="historique de paiements d'une facture">
                </div>
            </div>

            {% include 'app/pages/softwares/cta/contact.html.twig' %}
        </section>
    </div>
{% endblock %}
