{% extends 'app/pages/softwares/template.html.twig' %}

{% block title %}Ultimmo Syndic, logiciel de gestion de copropriétés.{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title page-product-title"
             style="background-image: url('{{ asset('build/app/images/software/products/products-syndic.jpg') }}')"
        >
            <h1>Ultimmo Syndic<span class="txt-color2">.</span></h1>
            <div class="subtitle italic">
                <p>Logiciel de gestion de copropriétés.</p>
            </div>
        </div>
        <div class="page-category-explain page-product-explain">
            <div class="col-1">
                <h2>Logiciel en ligne<span class="txt-color2">.</span></h2>
                <p>
                    Le logiciel immobilier ULTIMMO Syndic est une solution innovante conçue pour optimiser la
                    gestion de vos copropriétés en tirant parti de toutes les avancées numériques modernes.
                    ULTIMMO syndic intègre de nombreux automatismes et tous les traitements courants
                    attendus par les comptables et les gestionnaires de copropriété.
                    <br><br>
                    Si vous utilisez le logiciel de gestion locative ULTIMMO gérance, un outil gère la récupération
                    des règlements d’appels de fonds enregistrés en gérance.
                </p>
            </div>

            <div class="col-2">
                <div>
                    <h3>Avantages<span class="txt-color2">.</span></h3>
                    <div>
                        <ul>
                            <li>- Fonctions comptables étendues</li>
                            <li>- Gestion des assemblées générales</li>
                            <li>- Votes et paiements en ligne</li>
                            <li>- Gestion des travaux, interventions et diagnostics</li>
                            <li>- GED et archivage des documents</li>
                            <li>- Envois de masses par email ou SMS</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h3>Plateforme<span class="txt-color2">.</span></h3>
                    <div>
                        <p>Ordinateur</p>
                    </div>
                </div>
                <div>
                    <h3>Cible<span class="txt-color2">.</span></h3>
                    <div>
                        <p>Immobilier</p>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="col-deco">
                <div class="pattern-dots-lg"></div>
            </div>

            <div class="contact page-product-cta">
                <div class="section-title">
                    <h2>Informations <span class="txt-color2">et</span> tarifs</h2>
                </div>
                <div class="contact-content">
                    <p>
                        Contactez-nous dès aujourd'hui pour en savoir plus à propos de Ultimmo Syndic.
                    </p>
                    <div class="cta">
                        <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                    </div>
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Configuration sur mesure<span class="txt-color2">.</span></h2>
                    <p>
                        ULTIMMO syndic est conçu pour évoluer en s’adaptant à vos besoins par l’ajout de
                        fonctionnalités performantes. Découvrez ces solutions pour évaluer lesquelles répondent le
                        mieux à vos exigences spécifiques de travail.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Intégration des Factures<span class="txt-color2">.</span></h2>
                    <p>
                        La saisie manuelle des factures est une tâche chronophage, source d’erreur, et sans valeur
                        ajoutée. Pour éviter cette perte de productivité inutile, la meilleure solution est l’intégration
                        automatique des factures de prestataires majeurs comme EDF, ENGIE et PROXYDRO
                        (Importation des fichiers de relevé de compteur).
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Intégration des écritures bancaires<span class="txt-color2">.</span></h2>
                    <p>
                        Cette solution vous permet de gagner un temps précieux en intégrant automatiquement, les
                        virements des copropriétaires et les frais bancaires. Connexion avec les principales banques
                        du marché : Banque Populaire, Palatine, Caisse d’Épargne, CIC, Crédit Agricole, Monte Paschi,
                        Rotchild Martin Maurel, Société Générale, SMC.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Virement Alur<span class="txt-color2">.</span></h2>
                    <p>
                        L’ouverture d’un livret A pour la trésorerie des copropriétés a été facilitée par un décret
                        d’application de la loi ALUR. La fonctionnalité Virement Alur prend en charge le virement
                        compte à compte entre le compte courant et le livret A fonds ALUR.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Assemblées générales<span class="txt-color2">.</span></h2>
                    <p>
                        Evote est une nouvelle solution de gestion des assemblées générales dotée de fonctions très
                        puissantes. Elle inclut le vote en ligne et permet de réduire considérablement le temps de
                        préparation de vos AG en automatisant toutes les tâches qui peuvent l’être. Une AG
                        demandant traditionnellement deux jours de mise en œuvre sera ainsi traitée en deux
                        heures.
                    </p>
                    <ul>
                        <li>Génération automatisée des convocations avec pièces jointes attachées.</li>
                        <li>Gestion des sous-résolutions.</li>
                        <li>Vote en ligne sur l’espace extranet des copropriétaires, puis intégration automatique
                            dans votre logiciel de syndic à la date de butoir.</li>
                        <li>Émargement des copropriétaires présents à l’assemblée générale sur tablette, grâce à
                            l’application mobile associée.</li>
                    </ul>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Extranet copropriétaires<span class="txt-color2">.</span></h2>
                    <p>
                        Coprodirecte.fr est une plateforme interactive conçue pour fluidifier les échanges avec vos
                        copropriétés. Les copropriétaires disposent d’un accès rapide aux fonctionnalités clés pour
                        une expérience utilisateur optimisée. De votre côté, vous pourrez paramétrer les documents
                        et les données à publier, et filtrer les données destinées au seul conseil syndical.
                    </p>
                    <ul>
                        <li>Interface Intuitive et Conviviale</li>
                        <li>Paiement en ligne simple et sécurisé</li>
                        <li>Vote en ligne des assemblées générales</li>
                        <li>Paramétrage des documents accessibles au CS ou à l’ensemble des copropriétaires</li>
                        <li>
                            Paramétrage des documents et des données consultables en ligne (appels de fonds,
                            PV AG, Factures, Contrats, Dépenses, Budget, Balance, Compte bancaire de la
                            copropriété…).
                        </li>
                    </ul>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>SMS<span class="txt-color2">.</span></h2>
                    <p>
                        Le SMS est aujourd’hui le moyen le plus efficace pour atteindre ses clients et s’assurer que les
                        messages sont lus (taux de lecture de 98%, 4 fois supérieur à celui des emails). Que ce soit
                        pour l’envoi d’une 1ère relance ou pour diffuser des informations urgentes auprès des
                        copropriétaires, ce mode de communication bien perçu par le grand public vous apportera
                        un confort de travail et un gain de productivité réels.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Registre des copropriétés<span class="txt-color2">.</span></h2>
                    <p>
                        Cette fonctionnalité met annuellement à jour les données comptables à publier
                        obligatoirement sur le site du registre des copropriétés. La transmission de la fiche
                        synthétique est aussi prise en charge.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section product">
                <div class="section-content product-content">
                    <h2>Transfert du chiffre d’affaires<span class="txt-color2">.</span></h2>
                    <p>
                        Cet outil gère le transfert du chiffre d’affaires (honoraires, vacations, frais de relance) vers
                        notre logiciel de comptabilité Ecompta ou le logiciel Quadra.
                    </p>
                </div>
                <div class="section-image product-image">
                    <img src="{{ asset('build/app/images/illu-tablette.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="contact">
                <div class="section-title">
                    <h2>Un <span class="txt-color2">projet</span> à réaliser <span class="txt-color2">?</span></h2>
                </div>
                <div class="contact-content">
                    <p>
                        Si vous cherchez à créer une application mobile ou tablette sur mesure qui incarne véritablement
                        votre vision, n'hésitez pas à nous contacter dès aujourd'hui.
                        <br><br>
                        Nous sommes prêts à transformer vos idées en applications interactives et conviviales.
                        Faites de votre présence mobile et tablette un succès incontestable avec notre expertise.
                    </p>
                    <div class="cta">
                        <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
