{% extends 'app/pages/support/template.html.twig' %}

{% block title %}Support technique de Logilink{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title">
            <h1>Support technique<span class="txt-color2">.</span></h1>
        </div>
        <div class="page-category-explain">
            <div class="category-explain-container support-container">
                <h2>Télémaintenance<span class="txt-color2">.</span></h2>
                <div class="support-storage">
                    {% for directory in directories %}
                        <div class="support-storage-directory" data-id="{{ loop.index0 }}">
                            <span class="icon-folder"></span>
                            <span>{{ directory.name }}</span>
                        </div>
                        <div class="support-storage-files support-storage-files-{{ loop.index0 }}">
                            {% for file in files %}
                                {% if file.parent == directory.path %}
                                    <ul>
                                        <li>
                                            <a href="{{ path('app_support_download', {path: file.path}) }}" download>
                                                <span class="icon-file"></span>
                                                <span>{{ file.name }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <section>
            <div class="section product">
                <div class="section-content product-content product-content-center contact-content">
                    <div>
                        <h3>Contact<span class="txt-color2">.</span></h3>
                        <div>
                            <div class="address">
                                <a target="_blank"
                                   href="https://www.google.com/maps/place/17+Rue+de+la+R%C3%A9publique,+13002+Marseille/data=!4m2!3m1!1s0x12c9c0c07e1e99af:0xbfca9a09cb1a9b10?sa=X&ved=2ahUKEwiMyeufkeSDAxWCxAIHHblvC4AQ8gF6BAgWEAA">
                                    Logilink <br>
                                    17 rue de la République<br>
                                    13002, Marseille
                                </a>
                            </div>
                            <div class="cta">
                                <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                        </div>
                    </div>
                    <div>
                        <h3>Nous écrire<span class="txt-color2">.</span></h3>
                        <div id="contacts_create">
                            {% include "layout/components/tailwind/loaders/loader.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
