{% extends 'layout/layout_app.html.twig' %}

{% set menu = [
    { id: 1, name: "Logilink", path: path('app_homepage'), matchRoute: ['app_homepage'], expanded: false },
    {
        id: 2, name: "Logiciels", path: path('app_softwares'),
        matchRoute: ['app_softwares', 'app_softwares_lotys', 'app_softwares_syndic', 'app_softwares_gerance'],
        expanded: {
            txtCta: 'Nos logiciels métiers',
            text: 'Des logiciels puissanntes et adpatés à votre activité.',
            products: [
                {
                    name: "Syndic", logo: 'syndic.svg', path: path('app_softwares_syndic'),
                    alt: 'Logo logiciel Ultimmo Syndic',
                    matchRoute: ['app_softwares_syndic']
                },
                {
                    name: "Gérance", logo: 'gerance.svg', path: path('app_softwares_gerance'),
                    alt: 'Logo logiciel Utilimmo Gérance',
                    matchRoute: ['app_softwares_gerance']
                },
                {
                    name: "Lotys", logo: 'lotys.svg', path: path('app_softwares_lotys'),
                    alt: 'Logo Lotys logiciel transaction en ligne',
                    matchRoute: ['app_softwares_lotys']
                },
            ]
        }
    },
    {
        id: 3, name: "Applications", path: path('app_applications'),
        matchRoute: ['app_applications', 'app_applications_fokus', 'app_applications_opendoc', 'app_applications_memento'],
        expanded: {
            txtCta: 'Créer mon application',
            text: 'Des applications innovantes faites sur-mesure.',
            products: [
                {
                    name: "Fokus", logo: 'fokus.png', path: path('app_applications_fokus'),
                    alt: 'Logo application fokus état des lieux',
                    matchRoute: ['app_applications_fokus']
                },
                {
                    name: "Memento", logo: 'memento.png', path: path('app_applications_memento'),
                    alt: 'Logo application gestionnaires de copropriété',
                    matchRoute: ['app_applications_memento']
                },
                {
                    name: "Opendoc", logo: 'opendoc.svg', path: path('app_applications_opendoc'),
                    alt: 'Logo application signature pdf',
                    matchRoute: ['app_applications_opendoc']
                },
            ]
        }
    },
    { id: 4, name: "Sites internet", path: path('app_websites'), matchRoute: ['app_websites'], expanded: false },
    { id: 5, name: "Services en ligne", path: path('app_webservices'), matchRoute: ['app_webservices'], expanded: false },
    { id: 6, name: "Société", path: path('app_society'), matchRoute: ['app_society'], expanded: false },
    { id: 6, name: "Support", path: path('app_support'), matchRoute: ['app_support'], expanded: false },
] %}

{% block footer %}
    <footer>
        <div class="footer-container">
            <div class="footer-menu">
                <div class="col-1">
                    <a href="{{ path('app_homepage') }}">
                        <img src="{{ asset('build/app/images/logo-logilink.svg') }}" alt="Logo logilink editeur logiciel immobilier">
                    </a>
                    <span class="icon-linkedin"></span>
                </div>
                <div class="col-2">
                    <div class="footer-title">Solutions informatiques</div>
                    <a class="footer-link" href="{{ path('app_softwares') }}">Découvrir nos logiciels</a>
                    <a class="footer-link" href="{{ path('app_applications') }}">Découvrir nos applications</a>
                    <a class="footer-link" href="{{ path('app_websites') }}">Découvrir nos sites internet</a>
                    <a class="footer-link" href="{{ path('app_webservices') }}">Découvrir nos services en ligne</a>
                    <a class="footer-link" href="{{ path('app_prestations') }}">Découvrir nos prestations de services</a>
                    <div class="footer-title" style="margin-top: 12px">Support</div>
                    <a class="footer-link" href="{{ path('app_support') }}">Support technique</a>
                </div>
                <div class="col-3">
                    <div class="footer-title">Contact</div>
                    <p class="address">
                        Logilink<br>
                        17 rue de la République<br>
                        13002, Marseille
                    </p>
                    <div class="cta">
                        <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>&copy; 2024 - <a href="https://logilink.fr" class="copyright">Logilink.fr</a></p>
                <span>-</span>
                <a class="footer-link" href="{{ path('app_mentions') }}">Mentions légales</a>
                <a class="footer-link" href="{{ path('app_politique') }}">Politique de confidentialité</a>
                <a class="footer-link" href="{{ path('app_cookies') }}">Gestion des cookies</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="footer-link" href="{{ path('admin_homepage') }}">Espace administrateur</a>
                {% endif %}
            </div>
        </div>
    </footer>
{% endblock %}
