{% extends 'app/pages/webservices/template.html.twig' %}

{% block title %}Développer mon site internet sur mesure avec Logilink{% endblock %}

{% block meta_description %}Découvrez nos services de création de sites internet à Marseille. Notre agence web conçoit des sites modernes, responsives et adaptés à vos besoins. Du design à la programmation, nous offrons des solutions complètes pour renforcer votre présence en ligne.{% endblock %}
{% block meta_keywords %}création de site internet, conception web, design, développement web, site responsive{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title">
            <h1>Votre <span class="txt-color2">partenaire idéal</span> pour la création de votre site internet<span class="txt-color2">.</span></h1>
        </div>
        <div class="page-category-explain">
            <div class="category-explain-container">
                <p>
                    Logilink développe des sites internet sur mesure adaptés à la stratégie digitale de ses clients :
                    design, contenu éditorial, solutions techniques, expérience utilisateur, visibilité sur la toile,
                    tous les aspects de votre identité numérique sont étudiés pour élaborer un site pertinent en
                    phase avec vos objectifs.
                </p>
            </div>
        </div>
        <section>
            <div class="col-deco">
                <div class="pattern-dots-lg"></div>
            </div>

            <div class="section etude">
                <div class="section-content etude-content">
                    <h2>Etude de projet<span class="txt-color2">.</span></h2>
                    <p>
                        Notre travail commence toujours par des questions simples : Quelles sont vos intentions en
                        termes de communication, de marketing et d’essor commercial ? Quel public visez-vous en
                        priorité ? Quelles sont les tendances de votre secteur d’activité ?
                        <br>
                        <br>
                        Cette analyse à vos côtés est essentielle pour cerner vos priorités et les moyens à mettre en
                        œuvre pour y répondre. À chaque étape du processus, nous continuerons à
                        travailler <strong>en étroite collaboration</strong> avec vous pour nous
                        assurer que le site internet développé par notre équipe répond parfaitement à vos attentes.
                    </p>
                </div>
                <div class="section-image etude-image">
                    <img src="{{ asset('build/app/images/website/illustrations/etude.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="section proposition">
                <div class="section-image proposition-image">
                    <img src="{{ asset('build/app/images/website/illustrations/creativity.jpg') }}" alt="creativité de design sous forme de peinture">
                </div>
                <div class="section-content proposition-content">
                    <h2>Créativité et design<span class="txt-color2">.</span></h2>
                    <p>
                        L’interface graphique et l’ergonomie du site sont des critères de satisfaction essentiels pour
                        vos visiteurs. Notre équipe de concepteurs est spécialisée dans la <strong>création de designs</strong>
                        attrayants et fonctionnels quel que soit le public ciblé.
                        <br>
                        <br>
                        <em>L’expérience utilisateur (UX) et l’interface utilisateur (UI)</em> sont au cœur de nos designs pour
                        que votre site internet soit ergonomique, intuitif, agréable à visiter et qu’il reflète l’essence
                        de votre société.
                        <br>
                        <br>
                        Chaque site que nous concevons est adapté aux différentes tailles d'écrans existants.
                        C'est ce qu'on appelle le <em>responsive web design</em>
                    </p>
                </div>
            </div>

            <div class="section edito">
                <div class="section-content etude-content">
                    <h2>Contenu éditorial<span class="txt-color2">.</span></h2>
                    <p>
                        Le contenu rédactionnel d’un site internet est capital, même si son volume varie
                        sensiblement d’un projet à l’autre. La structure du texte, le niveau de langage,
                        la <strong>pertinence du contenu</strong> et l’intégration intelligente de mots clefs,
                        sont autant de critères à optimiser pour que le site « parle » le plus directement et
                        le plus efficacement à vos visiteurs.
                        <br>
                        <br>
                        Le texte joue par ailleurs un rôle fondamental dans <strong>le référencement de votre site</strong> par les
                        moteurs de recherche. Quelle que soit l’évolution des algorithmes de classement, cette
                        priorité ne change pas. Un contenu de qualité est systématiquement valorisé, c’est pourquoi
                        nous y attachons une grande importance.
                    </p>
                </div>
                <div class="section-image etude-image">
                    <img src="{{ asset('build/app/images/website/illustrations/editorial.jpg') }}" alt="personne ecrivant du contenu sur des post it">
                </div>
            </div>

            <div class="section development">
                <div class="section-content development-content">
                    <h2>Développement<span class="txt-color2">.</span></h2>
                    <p>
                        Là où beaucoup d'agences se contentent de solutions prêtes à l'emploi, nous optons pour le
                        développement sur mesure.
                        <br>
                        Ce choix nous laisse toute latitude pour développer des fonctionnalités adaptées
                        à vos besoins spécifiques.
                    </p>
                    <p>
                        Mais il permet aussi à nos développeurs d’optimiser leur code
                        pour livrer des sites réactifs, et à nos designers, de créer sans contrainte au lieu de produire
                        des pages web standardisées dont le public finit toujours par se lasser. Le fameux « déjà vu ».
                    </p>
                </div>
                <div class="section-image development-image">
                    <img src="{{ asset('build/app/images/website/illustrations/dev-01.jpg') }}" alt="ecran ordinateur de design web">
                    <img src="{{ asset('build/app/images/website/illustrations/dev-02.jpg') }}" alt="clavier coloré">
                    <img src="{{ asset('build/app/images/website/illustrations/dev-03.jpg') }}" alt="ordinateur portable avec une interface graphique">
                </div>
            </div>

            <div class="section online">
                <div class="section-content online-content">
                    <h2>Suivi et support continu<span class="txt-color2">.</span></h2>
                    <p>
                        Notre engagement envers vous ne se termine pas à la livraison du site. Si des évolutions vous
                        viennent à l’esprit, nous sommes là pour vous accompagner.
                        <br><br>
                        Nous suivons votre projet tout au long de sa vie. Nous assurons une veille technique
                        continue et des mises à jour régulières.
                        <br><br>
                        Notre support technique, joignable par téléphone, est là pour garantir que votre site reste
                        sécurisé et performant.
                    </p>
                </div>
                <div class="section-image online-image">
                    <img src="{{ asset('build/app/images/website/illustrations/support.jpg') }}" alt="personnes avec un casque sur la tete en train de travailler">
                </div>
            </div>

            <div class="section realisation">
                <div class="section-content realisation-content">
                    <h2>Nos réalisations<span class="txt-color2">.</span></h2>
                </div>
                <div class="section-examples">
                    <div class="item">
                        <img src="{{ asset('build/app/images/website/realisations/immo-centre.png') }}" alt="accueil du site de Immo Centre Toulon">
                        <a class="item-legend" href="https://immo-centre.com/" target="_blank">
                            <span>Immo Centre Toulon<span class="italic">- immo-centre.com</span></span>
                        </a>
                    </div>
                    <div class="item">
                        <img src="{{ asset('build/app/images/website/realisations/gecovar.png') }}" alt="accueil du site de l'agence immobilière Gecovar">
                        <a class="item-legend" href="https://gecovar.fr" target="_blank">
                            <span>Gecovar <span class="italic">- gecovar.fr</span></span>
                        </a>
                    </div>
                    <div class="item">
                        <img src="{{ asset('build/app/images/website/realisations/laugier.png') }}" alt="accueil du site l'agence immobilière Laugier-Fine">
                        <a class="item-legend" href="https://laugierfine.immo/" target="_blank">
                            <span>Cabinet Laugier-Fine <span class="italic">- laugierfine.immo</span></span>
                        </a>
                    </div>
                    <div class="item">
                        <img src="{{ asset('build/app/images/website/realisations/pauquet.png') }}" alt="accueil du site de l'agence Pauquet immobilier">
                        <a class="item-legend" href="https://pauquetimmo.com/" target="_blank">
                            <span>Pauquet Immobilier <span class="italic">- pauquetimmo.com</span></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="contact">
                <div class="section-title">
                    <h2>Un <span class="txt-color2">projet</span> à réaliser <span class="txt-color2">?</span></h2>
                </div>
                <div class="contact-content">
                    <p>
                        Si vous cherchez à créer un site internet sur mesure qui incarne véritablement votre entreprise
                        et ses idées, nous sommes là pour vous.
                        <br><br>
                        Contactez-nous aujourd'hui pour discuter de votre projet,
                        et laissez-nous vous montrer comment nous pouvons transformer vos idées en réalité en ligne.
                    </p>
                    <div class="cta">
                        <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
