{% extends 'app/pages/websites/template.html.twig' %}

{% block title %}Développer mon site internet sur mesure avec Logilink{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title">
            <h1>Concevoir <span class="txt-color2">son</span> site internet<span class="txt-color2">.</span></h1>
        </div>
        <div class="page-category-explain">
            <div class="category-explain-container">
                <p>
                    Logilink développe des sites internet personnalisés, inspirés de vos intentions, pensées, construits et
                    rédigés dans le respect de vos objectifs, adaptés aux attentes du public et conformes aux standards du web.
                </p>
            </div>
        </div>
        <section>
            <div class="col-deco">
                <div class="pattern-dots-lg"></div>
            </div>
            <div class="etude">
                <div class="etude-content">
                    <h2>Etude de projet<span class="txt-color2">.</span></h2>
                    <p>
                        Définissons la nature de vos besoins et objectifs afin de mieux cerner votre projet, puis identifions à
                        qui va s'adresse votre site internet pour déterminer le public visé. Faites-nous part de vos idées
                        pour nous aider à nous rapprocher au plus près du site que vous souhaitez obtenir.
                    </p>
                </div>
                <div class="etude-image">
                    <img src="{{ asset('build/app/images/illu-website.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="proposition">
                <div class="proposition-image">
                    <img src="{{ asset('build/app/images/illu-website.jpg') }}" alt="propositions maquette website">
                </div>
                <div class="proposition-content">
                    <h2>Propositions<span class="txt-color2">.</span></h2>
                    <p>
                        L'aspect graphique et la qualité de contenu sont d'importants
                        critères de satisfaction pour les visiteurs.
                        <br>
                        L'expérience utilisateur (UX) et l'interface utilisateur (UI) sont au cœur de nos design
                        pour que votre site internet soit ergonomique, intuitif et agréable à visiter.
                        <br>
                        <br>
                        Le responsive web design consiste à prévoir un design adapté aux écrans existants.
                    </p>
                </div>
            </div>

            <div class="development">
                <div class="development-content">
                    <h2>Développement<span class="txt-color2">.</span></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corporis cum ea ipsam
                        modi odit pariatur, perferendis perspiciatis porro quasi quis voluptate voluptatem voluptatum?
                        Aspernatur iure maiores maxime sequi vitae.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores atque dicta fugit
                        impedit inventore, laudantium libero minima optio perspiciatis quo suscipit vitae.
                    </p>
                </div>
                <div class="development-illustration">
                    <img src="{{ asset('build/app/images/illu-website.jpg') }}" alt="propositions maquette website">
                    <img src="{{ asset('build/app/images/illu-website.jpg') }}" alt="propositions maquette website">
                    <img src="{{ asset('build/app/images/illu-website.jpg') }}" alt="propositions maquette website">
                </div>
            </div>

            <div class="online">
                <div class="online-content">
                    <h2>Mise en ligne<span class="txt-color2">.</span></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corporis cum ea ipsam
                        modi odit pariatur, perferendis perspiciatis porro quasi quis voluptate voluptatem voluptatum?
                        Aspernatur iure maiores maxime sequi vitae.
                    </p>
                </div>
                <div class="online-illustration">
                    <img src="{{ asset('build/app/images/illu-website.jpg') }}" alt="propositions maquette website">
                </div>
            </div>
        </section>
    </div>
{% endblock %}
