{% extends 'app/pages/society/template.html.twig' %}

{% block title %}Logilink éditeur de logiciel, d'applications mobiles et de sites internet{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title">
            <h1>La <span class="txt-color2">liberté</span> d'agir<span class="txt-color2">.</span></h1>
        </div>
        <div class="page-category-explain">
            <div class="category-explain-container">
                <p>
                    Logilink est un éditeur de logiciel, d’application mobile et de site internet.
                    <br>
                    <br>
                    Nous sommes des experts en matière de développement sur mesure.
                    <br>
                    <br>
                    Notre équipe talentueuse et expérimentée travaille en étroite collaboration avec vous pour comprendre votre vision
                    et la traduire en un produit numérique.
                    <br>
                    <br>
                    Expert en immobilier : gestion locative, syndic de copropriété,
                    transaction, état des lieux, visite de copropriété, gestion des
                    travaux... Gérez l’intégralité de votre parc immobilier à l’aide
                    d’applications professionnelles performantes.
                </p>
            </div>
        </div>
        <section>
            <div class="history-section">
                <div class="history">
                    <div class="part-title">
                        <h2 data-aos="zoom-in">Notre histoire</h2>
                        <p data-aos="dade-up">
                            Fondée en 1946, la société Logilink a connu toutes les révolutions
                            de l'informatique. Mais les dirigeants, les techniciens et les
                            programmeurs ont toujours fait preuve de l'instinct nécessaire
                            pour saisir les enjeux et aller de l'avant. Récit d'une épopée
                            débutée il y a plus d'un demi siècle.
                        </p>
                    </div>
                </div>
            </div>
            <div class="history-illustration" data-aos="fade-in">
                <img src="{{ asset('build/app/images/story/1.jpg') }}" alt="Histoire de logilink"/>
            </div>

            <div class="chronology-section">
                <div class="chronology">
                    <div class="chronology-50">
                        <div class="part-title">
                            <h2 data-aos="fade-right">Les années 50</h2>
                        </div>
                        <div class="content-50">
                            <div class="content-50-illustration" data-aos="fade-right">
                                <img src="{{ asset('build/app/images/story/Eniac1.jpg') }}" alt="Logilink aux annees 50 logiciels metier"/>
                            </div>
                            <p data-aos="fade-left">
                                Comparé par la presse à un "cerveau géant" lors de son apparition en 1946, l'ENIAC,
                                entendez Electronic Numerical Integrator And Computer, est le premier ordinateur
                                d'envergure à avoir fait son apparition en 1946. Conçue par des ingénieurs américains,
                                cette "machine infernale" pesait 27 tonnes pour une surface au sol de 167m² et consommait
                                la bagatelle de 150kW indispensables pour alimenter les 17500 tubes, 70 000 résistances
                                et 10 000 condensateur nécessaires à son fonctionnement...
                                <br/><br/>
                                La même année, notre société fondée sous le nom d'Escoffier & Chary (associés égalitaires)
                                démarrait son activité. L'objectif consistait dans la vente et l'entretien de machines
                                comptables et de machines à calculer. Toutes électromécaniques.
                                <br/><br/>
                                La programmation rudimentaire des matériels comptables s'apparentait beaucoup à celle des
                                métiers à tisser. La société vivait d'une part de la marge réalisée sur la vente des matériels,
                                des imprimés, des stands et bureaux dans lesquels s'inséraient ces machines, d'autre part
                                de l'entretien et la réparation de ces mécaniques de précision.
                            </p>
                        </div>
                    </div>
                    <div class="chronology-60">
                        <div class="part-title">
                            <h2 data-aos="fade-up">Les années 60</h2>
                        </div>
                        <div class="content-60">
                            <p data-aos="fade-right">
                                Les premières machines manufacturières électroniques programmables
                                font leur apparition. Elles sont équipées de diodes utilisant des
                                calculateurs à transistor. La mécanique n'intervient plus que sur
                                les organes d'impression poussant les mécaniciens à se former à
                                l'électronique. Les sociétés de mécanographie incapables de négocier
                                ce virage périclitent puis disparaissent.
                                <br/><br/>
                                Á l'inverse, la société Escoffier & Chary, depuis longtemps consciente de
                                la nécessité d'évoluer, modernise ses pratiques et par la même occasion
                                devient : Électronique Comptable.
                            </p>
                            <div class="content-60-illustration"  data-aos="fade-left">
                                <img src="{{ asset('build/app/images/story/Univac-1960.jpg') }}" alt="Logilink aux annees 60 logiciels immobilier"/>
                            </div>
                        </div>
                    </div>
                    <div class="chronology-70">
                        <div class="part-title">
                            <h2 data-aos="fade-left">Les années 70</h2>
                        </div>
                        <div class="content-70">
                            <p data-aos="fade-right">
                                Nouvelle époque, nouvelles technologies. Les machines à calculer
                                deviennent électroniques. Les ordinateurs de bureau font leur
                                apparition et avec eux, les programmeurs, futur point fort de
                                l'entreprise. Electronique Comptable ne vend pas encore de programmes,
                                la société se rémunère uniquement sur le matériel. Á titre d'exemple,
                                un ordinateur de bureau destiné à un administrateur de biens vaut 3 fois
                                le prix d'un appartement de 70m² dans le 9ème arrondissement...
                            </p>
                            <div class="content-70-illustration"  data-aos="fade-in">
                                <img src="{{ asset('build/app/images/story/Altair_8800_Computer.jpg') }}" alt="Logilink aux annees 70 site internet"/>
                            </div>
                            <p data-aos="fade-left">
                                Au milieu des années 70, la fonction d'analyste programmeur devient centrale,
                                la programmation commence à se vendre tandis que la marge sur le matériel
                                s'érode. Le prix des calculatrices miniatures chute au point de voir leur vente
                                se déplacer chez les marchand de fournitures de bureau. Un bouleversement des prix
                                qui sera fatal à bon nombre de revendeurs.
                            </p>
                        </div>
                    </div>
                    <div class="chronology-80">
                        <div class="part-title">
                            <h2 data-aos="fade-up">Les années 80</h2>
                        </div>
                        <div class="content-80">
                            <div class="content-80-illustration" data-aos="fade-right">
                                <img src="{{ asset('build/app/images/story/apple-Lisa.jpg') }}" alt="Logilink aux annees 80 applications mobiles"/>
                            </div>
                            <p data-aos="fade-left">
                                En 1979, SANYO commercialise les premiers micro-ordinateurs sous
                                la marque Sanco. Le prix du matériel est divisé par trois, les pièces
                                mécaniques sont mises au rebut et les premières imprimantes à aiguilles
                                commencent à crépiter. Fidèle à sa volonté de tirer le meilleur parti
                                de l'innovation technologique, Electronique Comptable expose son
                                premier micro-ordinateur à la foire de Marseille.
                                <br/><br/>
                                En 1981, IBM normalise la micro informatique et confie la sous-traitance de
                                son système d'exploitation à une société née six ans auparavant à Albuquerque,
                                Nouveau Mexique. Une entreprise répondant au nom prometteur de ... Microsoft.
                                <br/><br/>
                                De son côté, la société Apple présente LISA, la première machine dotée
                                d'une interface graphique, de solutions intégrées et d'une souris.
                            </p>
                        </div>
                    </div>
                    <div class="chronology-90">
                        <div class="part-title">
                            <h2 data-aos="fade-right">Les années 90</h2>
                        </div>
                        <div class="content-90">
                            <p data-aos="fade-right">
                                Marqué par la guerre du golfe et l'accentuation de la crise économique,
                                la fin du siècle s'annonce rude pour les entrepreneurs. Dans ce contexte
                                difficile, Électronique Comptable bénéficie d'un véritable savoir-faire,
                                de l'appui d'une clientèle fidèle et de fournisseurs confiants. L'arrivée
                                de nouveaux actionnaires lui permet de maintenir son activité.
                                <br/><br/>
                                La société accentue sa spécialisation dans le domaine de l'administration de
                                biens et développe sa connaisance des réseaux. Syndics et gérants d'immeubles
                                travaillent de plus en plus fréquemment en multipostes. Au début des années
                                2000, la société abandonne définitivement le système Dataflex pour adopter
                                la plateforme Windows. Une nouvelle génération de logiciels en mode graphique voit le jour.
                            </p>
                            <p data-aos="fade-left">
                                Comme l'avait projeté dès 1975 Gordon Moore, ingénieur chez Intel, le nombre
                                de transistors des micropocesseurs contenus sur une puce double tous les deux
                                ans (extrapolation visionnaire valable depuis plus de 40 ans). Autant dire
                                que l'évolution de l'informatique n'est pas prête de s'arrêter, désormais
                                indissociable du phénomène Internet.
                                <br/><br/>
                                Nouveaux écrans, nouveaux terminaux, nouvelles formes de communication,
                                cloud, services en ligne... La société continue activement d'innover et
                                adopte en 2013 un nom plus conforme à son activité : Logilink.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="garantie-section">
                <div class="garantie">
                    <div class="part-title">
                        <h2 data-aos="fade-up">Nos garanties</h2>
                    </div>
                    <div class="garantie-content">
                        <div data-aos="zoom-in">
                            <h3>Qualité de services</h3>
                            <p>
                                Depuis sa création, Logilink à toujours associé à la vente de ses produits
                                une politique active de services. Du système le plus simple aux configurations
                                les plus poussées, Logilink vous garanti un suivi technique et logicel de qualité,
                                comprenant le dépannage sur site, l'assistance par télémaintenance et des formations
                                personnalisées, planifiées selon vos besoins.
                            </p>
                        </div>
                        <div data-aos="zoom-in">
                            <h3>Formation agréée</h3>
                            <p>
                                Logilink est un organisme de formation agréé, membre du pôle d'éditeurs
                                Medinsoft, le premier pool d'éditeurs de logiciels créé en France, une
                                référence en termes d'innovation logicielle et de compétence informatique.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
