{% extends 'app/pages/society/template.html.twig' %}

{% block title %}Logilink éditeur de logiciel, d'applications mobiles et de sites internet{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title">
            <h1><span class="txt-color2">Nos</span> compétences<span class="txt-color2">.</span></h1>
        </div>
        <div class="page-category-explain">
            <div class="category-explain-container society-contact">
                <div class="col-1">
                    <h2>Logilink<span class="txt-color2">.</span></h2>
                    <p>
                        Logilink est un éditeur de logiciel, d’application mobile et de site internet.
                        <br><br>
                        Nous sommes des experts en matière de <strong>développement sur mesure</strong>.
                        <br><br>
                        Notre équipe talentueuse et expérimentée travaille en étroite collaboration avec vous pour
                        comprendre votre vision et la traduire en un produit numérique.
                        <br><br>
                        <strong>Expert en immobilier</strong> : gestion locative, syndic de copropriété,
                        transaction, état des lieux, visite de copropriété, gestion des travaux... Gérez l’intégralité
                        de votre parc immobilier à l’aide d’applications professionnelles performantes.
                    </p>
                    <a href="{{ path('app_society_history') }}" class="link-italic">En savoir plus sur Logilink.</a>
                </div>
                <div class="col-2">
                    <div class="contact-recrutement">
                        <div>
                            <h3>Contact<span class="txt-color2">.</span></h3>
                            <div>
                                <div class="address">
                                    <a target="_blank"
                                       href="https://www.google.com/maps/place/17+Rue+de+la+R%C3%A9publique,+13002+Marseille/data=!4m2!3m1!1s0x12c9c0c07e1e99af:0xbfca9a09cb1a9b10?sa=X&ved=2ahUKEwiMyeufkeSDAxWCxAIHHblvC4AQ8gF6BAgWEAA">
                                        Logilink <br>
                                        17 rue de la République<br>
                                        13002, Marseille
                                    </a>
                                </div>
                                <div class="cta">
                                    <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3>Recrutement<span class="txt-color2">.</span></h3>
                            <div id="recrutement"></div>
                        </div>
                    </div>
                    <div>
                        <h3>Nous écrire<span class="txt-color2">.</span></h3>
                        <div id="contacts_create">
                            {% include "layout/components/loader.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="section skill">
                <div class="section-content skill-content">
                    <h2>Logiciels immobiliers<span class="txt-color2">.</span></h2>
                    <p>
                        Logilink figure parmi les leaders de l'édition de logiciels immobiliers à
                        travers <a href="{{ path('app_softwares') }}">sa suite <b>ULTIMMO</b></a>.
                        <br>
                        <br>
                        Cette solution logicielle complète couvre les métiers de syndic de copropriété, de
                        gestion locative et de transaction immobilière.
                    </p>
                    <div class="skill-cta">
                        <a class="link-italic" href="{{ path('app_softwares') }}">
                            <span>Découvrir nos logiciels</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="section-image skill-image">
                    <img src="{{ asset('build/app/images/society/logiciels.jpg') }}" alt="façade d'immeuble">
                </div>
            </div>
            <div class="section skill">
                <div class="section-content skill-content">
                    <h2>Applications mobiles<span class="txt-color2">.</span></h2>
                    <p>
                        Logilink conçoit principalement des applications mobiles destinés aux métiers de l’immobilier
                        (état des lieux, rapport de visites des copropriétés, émargement en assemblée générale…).
                        <br><br>
                        Pour tout projet spécifique ou relevant d’une autre activité,
                        <strong>nos développeurs sont à votre écoute</strong>.
                    </p>
                    <div class="skill-cta">
                        <a class="link-italic" href="{{ path('app_applications') }}">
                            <span>Découvrir nos applications</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="section-image skill-image">
                    <img src="{{ asset('build/app/images/society/tablettes.jpg') }}" alt="tablette et livre">
                </div>
            </div>
            <div class="section skill">
                <div class="section-content skill-content">
                    <h2>Sites internet<span class="txt-color2">.</span></h2>
                    <p>
                        Logilink conçoit et réalise des sites internet sur mesure. Structure, contenu, design,
                        hébergement, référencement. Un suivi technique permanent est assuré par nos
                        développeurs.
                    </p>
                    <div class="skill-cta">
                        <a class="link-italic" href="{{ path('app_websites') }}">
                            <span>Découvrir nos sites internet</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="section-image skill-image">
                    <img src="{{ asset('build/app/images/society/websites.jpg') }}" alt="personne ecrivant sur un clavier pour un developpement web">
                </div>
            </div>
            <div class="section skill">
                <div class="section-content skill-content">
                    <h2>Services en ligne<span class="txt-color2">.</span></h2>
                    <p>
                        Logilink conçoit à la demande des services hébergés sur le cloud. Accessibles via Internet, ils
                        permettent aux utilisateurs, clients, collaborateurs, de consulter des documents, de souscrire
                        à un service, de payer en ligne, d’éditer des documents, de communiquer des informations,
                        de voter en ligne… <strong>depuis n'importe quel appareil connecté à Internet</strong>.
                        <br><br>
                        Ces fonctionnalités facilitent la communication, réduisent les coûts, favorisent la mobilité et la flexibilité.
                    </p>
                    <div class="skill-cta">
                        <a class="link-italic" href="{{ path('app_webservices') }}">
                            <span>Découvrir nos services en ligne</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="section-image skill-image">
                    <img src="{{ asset('build/app/images/society/webservices.jpg') }}" alt="personne surfant sur internet et tenant un appareil mobile dans la main">
                </div>
            </div>
            <div class="section skill">
                <div class="section-content skill-content">
                    <h2>Serveurs et réseaux<span class="txt-color2">.</span></h2>
                    <p>
                        Logilink vous conseille dans le choix de votre parc de matériel. Nos techniciens interviennent
                        dans la mise en place de vos réseaux et le paramétrage de vos serveurs.
                    </p>
                    <div class="skill-cta">
                        <a class="link-italic" href="{{ path('app_softwares') }}">
                            <span>Découvrir nos prestations de services</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="section-image skill-image">
                    <img src="{{ asset('build/app/images/society/composants.jpg') }}" alt="ordinateur ouvert avec ses composants informatique">
                </div>
            </div>

            <div class="contact">
                <div class="section-title">
                    <h2>Un <span class="txt-color2">projet</span> à réaliser <span class="txt-color2">?</span></h2>
                </div>
                <div class="contact-content">
                    <p>
                        Contactez-nous dès aujourd'hui pour discuter de votre projet numérique.
                        Logilink est déterminé à faire de vos idées une réalité numérique unique.
                    </p>
                    <div class="cta">
                        <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
