{% extends 'app/pages/society/template.html.twig' %}

{% block title %}Logilink éditeur de logiciel, d'applications mobiles et de sites internet{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="page-category-title">
            <h1><span class="txt-color2">Nos</span> compétences<span class="txt-color2">.</span></h1>
        </div>
        <div class="page-category-explain">
            <div class="category-explain-container society-contact">
                <div class="col-1">
                    <h2>Logilink<span class="txt-color2">.</span></h2>
                    <p>
                        Logilink est un éditeur de logiciel, d’application mobile et de site internet.
                    </p>
                    <a href="{{ path('app_society_history') }}" class="link-italic">En savoir plus sur Logilink.</a>
                </div>
                <div class="col-2">
                    <div>
                        <h3>Contact<span class="txt-color2">.</span></h3>
                        <div>
                            <p class="address">
                                17 rue de la République<br>
                                13002, Marseille
                            </p>
                            <div class="cta">
                                <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Nous écrire<span class="txt-color2">.</span></h3>
                        <div id="contacts_create">
                            {% include "layout/components/loader.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="section skill">
                <div class="section-content skill-content">
                    <h2>Logiciels immobiliers<span class="txt-color2">.</span></h2>
                    <p>
                        Logilink figure parmi les leaders de l'édition de logiciels immobiliers à
                        travers <a href="{{ path('app_software') }}">sa suite <b>ULTIMMO</b></a>. <br>
                        Cette solution logicielle complète couvre les métiers de syndic de copropriété, de
                        gestion locative et de transaction immobilière.
                    </p>
                    <div class="skill-cta">
                        <a class="link-italic" href="{{ path('app_software') }}">
                            <span>Découvrir nos logiciels</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="section-image skill-image">
                    <img src="{{ asset('build/app/images/society/logiciels.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>
            <div class="section skill">
                <div class="section-content skill-content">
                    <h2>Applications mobiles<span class="txt-color2">.</span></h2>
                    <p>
                        Logilink conçoit principalement des applications mobiles destinés aux métiers de l’immobilier
                        (état des lieux, rapport de visites des copropriétés, émargement en assemblée générale…).
                        Pour tout projet spécifique ou relevant d’une autre activité, nos développeurs sont à votre
                        écoute.
                    </p>
                    <div class="skill-cta">
                        <a class="link-italic" href="{{ path('app_applications') }}">
                            <span>Découvrir nos applications</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="section-image skill-image">
                    <img src="{{ asset('build/app/images/society/tablettes.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>
            <div class="section skill">
                <div class="section-content skill-content">
                    <h2>Services en ligne - SAAS<span class="txt-color2">.</span></h2>
                    <p>
                        Logilink conçoit à la demande des services hébergés sur le cloud. Accessibles via Internet, ils
                        permettent aux utilisateurs, clients, collaborateurs, de consulter des documents, de souscrire
                        à un service, de payer en ligne, d’éditer des documents, de communiquer des informations,
                        de voter en ligne… depuis n'importe quel appareil connecté à Internet. Ces fonctionnalités
                        facilitent la communication, réduisent les coûts, favorisent la mobilité et la flexibilité.
                    </p>
                    <div class="skill-cta">
                        <a class="link-italic" href="{{ path('app_websites') }}">
                            <span>Découvrir nos SAAS</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="section-image skill-image">
                    <img src="{{ asset('build/app/images/society/saas.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>
            <div class="section skill">
                <div class="section-content skill-content">
                    <h2>Sites internet<span class="txt-color2">.</span></h2>
                    <p>
                        Logilink conçoit et réalise des sites internet sur mesure. Structure, contenu, design,
                        hébergement, référencement. Un suivi technique permanent est assuré par nos
                        développeurs.
                    </p>
                    <div class="skill-cta">
                        <a class="link-italic" href="{{ path('app_websites') }}">
                            <span>Découvrir nos sites internet</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="section-image skill-image">
                    <img src="{{ asset('build/app/images/society/websites.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>
            <div class="section skill">
                <div class="section-content skill-content">
                    <h2>Serveurs et réseaux<span class="txt-color2">.</span></h2>
                    <p>
                        Logilink vous conseille dans le choix de votre parc de matériel. Nos techniciens interviennent
                        dans la mise en place de vos réseaux et le paramétrage de vos serveurs.
                    </p>
                    <div class="skill-cta">
                        <a class="link-italic" href="{{ path('app_software') }}">
                            <span>Découvrir nos prestations de services</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="section-image skill-image">
                    <img src="{{ asset('build/app/images/society/composants.jpg') }}" alt="etude projet creation site internet">
                </div>
            </div>

            <div class="contact">
                <div class="section-title">
                    <h2>Un <span class="txt-color2">projet</span> à réaliser <span class="txt-color2">?</span></h2>
                </div>
                <div class="contact-content">
                    <p>
                        Contactez-nous dès aujourd'hui pour discuter de votre projet numérique.
                        Logilink est déterminé à faire de vos idées une réalité numérique unique.
                    </p>
                    <div class="cta">
                        <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                    </div>
                </div>
            </div>

{#            <div class="garantie-section">#}
{#                <div class="garantie">#}
{#                    <div class="part-title">#}
{#                        <h2 data-aos="fade-up">Nos garanties</h2>#}
{#                    </div>#}
{#                    <div class="garantie-content">#}
{#                        <div data-aos="zoom-in">#}
{#                            <h3>Qualité de services</h3>#}
{#                            <p>#}
{#                                Depuis sa création, Logilink à toujours associé à la vente de ses produits#}
{#                                une politique active de services. Du système le plus simple aux configurations#}
{#                                les plus poussées, Logilink vous garanti un suivi technique et logicel de qualité,#}
{#                                comprenant le dépannage sur site, l'assistance par télémaintenance et des formations#}
{#                                personnalisées, planifiées selon vos besoins.#}
{#                            </p>#}
{#                        </div>#}
{#                        <div data-aos="zoom-in">#}
{#                            <h3>Formation agréée</h3>#}
{#                            <p>#}
{#                                Logilink est un organisme de formation agréé, membre du pôle d'éditeurs#}
{#                                Medinsoft, le premier pool d'éditeurs de logiciels créé en France, une#}
{#                                référence en termes d'innovation logicielle et de compétence informatique.#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </section>
    </div>
{% endblock %}
