{% extends 'app/email/template/template.html.twig' %}

{% block preheader %}Demande de contact pour {{ contact.subject }}.{% endblock %}

{% block title %}Demande de : {{ contact.subject }}{% endblock %}

{% block body %}
    <div>
        <div>{{ contact.createdAt | date('d/m/Y \\à H:i') }}<br></div>
        <div>Demande réalisée par : <b>{{ contact.name }}</b></div>
        {% if contact.email %}
            <div>Email : {{ contact.email }}</div>
        {% endif %}
        {% if contact.phone %}
            <div>Téléphone : {{ contact.phone }}</div>
        {% endif %}
        <div>Sujet : {{ contact.subject }}</div>
        <p style="width: 540px;">
            <u>Message</u> : <br>
            {{ contact.message }}
        </p>
    </div>
{% endblock %}
