<footer>
    <div class="footer">
        <div class="footer-menu">
            <div class="footer-logo">
                <a href="{{ path('app_homepage') }}" title="Site">
                    <img src="{{ asset('build/admin/images/logo.png') }}" alt="Logo du site"/>
                </a>
                <span>Logilink</span>
            </div>
            <div class="footer-items">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a rel="nofollow" href="{{ path('app_login') }}">Mon espace</a>
                    <a rel="nofollow" href="{{ path('user_homepage') }}">Espace utilisateur</a>
                    <a rel="nofollow" href="{{ path('app_homepage') }}">Page accueil</a>
                    <a rel="nofollow" href="{{ path('app_logout') }}">Me déconnecter</a>
                {% else %}
                    <a rel="nofollow" href="{{ path('app_login') }}">Mon espace</a>
                {% endif %}
            </div>
        </div>
        <div class="copyright">Copyright 2024 - <a href="https://logilink.fr" target="_blank" class="txt-primary">Logilink.fr</a></div>
    </div>
</footer>
