{% extends 'base.html.twig' %}

{% block body %}
    {% include "layout/components/page-loader.html.twig" %}

    <div class="body">
        <nav>
            <div class="nav-container">
                <div class="nav-logo">
                    <a href="{{ path('app_homepage') }}">
                        <img src="{{ asset('build/app/images/logo-logilink.svg') }}" alt="Logo Logilink editeur logiciel">
                    </a>
                </div>

                <div class="nav-mobile">
                    <span class="icon-menu"></span>
                </div>

                <div class="nav-content">
                    <div class="nav-menu">
                        {% for item in menu %}
                            <a class="nav-link-item nav-item {{- app.request.get('_route') in item.matchRoute ? " active" : "" -}}"
                               href="{{ item.path }}"
                               data-id="{{ item.id }}"
                            >
                                <span>{{ item.name }}</span>
                            </a>
                            {% if item.expanded %}
                                {% for it in item.expanded.products %}
                                    <a class="nav-sub-item nav-item {{- app.request.get('_route') in it.matchRoute ? " active" : "" -}}"
                                       href="{{ it.path }}"
                                    >
                                        <div class="logo">
                                            <img src="{{ asset('build/app/images/logos/'~it.logo) }}"
                                                 alt="{{ it.alt }}">
                                        </div>
                                        <div>{{ it.name }}</div>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        <a class="nav-link-item nav-item nav-link-item-presta {{- app.request.get('_route') in ['app_prestations'] ? " active" : "" -}}"
                           href="{{ path('app_prestations') }}">
                            <div>Prestations de services</div>
                        </a>
                    </div>
                    <div class="nav-menu-cta">
                        <a href="tel:0491994443" class="btn btn-color2">04 91 99 44 43</a>
                        <a href="{{ path('app_login') }}" class="btn btn-primary">Mon espace</a>
                    </div>
                </div>

                <div class="nav-cta">
                    <a href="{{ path('app_login') }}" class="btn btn-color2">Mon espace</a>
                </div>
            </div>

            <div class="nav-expanded">
                {% for item in menu %}
                    {% if item.expanded %}
                        <div class="nav-expanded-body" id="nav-expanded-body-{{ item.id }}">
                            <div class="nav-expanded-container" id="nav-expanded-{{ item.id }}" data-id="{{ item.id }}">
                                <div class="col-1">
                                    <div class="nav-expanded-title">{{ item.name }}</div>
                                    <p>{{ item.expanded.text }}</p>
                                    <div class="nav-cta">
                                        <a href="{{ item.path }}" class="btn btn-primary">{{ item.expanded.txtCta }}</a>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="nav-expanded-title" style="padding-left: 8px;">Nos produits</div>
                                    <div class="items">
                                        {% for it in item.expanded.products %}
                                            <a class="nav-sub-item nav-item {{- app.request.get('_route') in it.matchRoute ? " active" : "" -}}"
                                               href="{{ it.path }}"
                                            >
                                                <div class="logo">
                                                    <img src="{{ asset('build/app/images/logos/'~it.logo) }}"
                                                         alt="{{ it.alt }}">
                                                </div>
                                                <div>
                                                    <div>{{ it.name }}</div>
                                                    <div style="opacity: 0.6; font-size: 11px;">{{ it.subname is defined ? it.subname : "" }}</div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="nav-expanded-title" style="padding-left: 8px;">Services</div>
                                    <div class="items">
                                        <a class="nav-sub-item nav-item {{- app.request.get('_route') in ['app_prestations'] ? " active" : "" -}}"
                                           href="{{ path('app_prestations') }}">
                                            <div class="logo">
                                                <img src="{{ asset('build/app/images/logo.png') }}"
                                                     alt="prestation de services">
                                            </div>
                                            <div>Prestations de services</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </nav>

        <main>
            <div>
                {% block main_content %}{% endblock %}
            </div>

            {% block footer %}{% endblock %}
        </main>
    </div>
{% endblock %}
