{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_app') }}
{% endblock %}

{% block body %}
    {% include "layout/components/page-loader.html.twig" %}

    <div class="body">
        <nav>
            <div class="nav-container">
                <div class="nav-logo">
                    <a href="{{ path('app_homepage') }}">
                        <img src="{{ asset('build/app/images/logo-logilink.svg') }}" alt="Logo Logilink editeur logiciel">
                    </a>
                </div>

                <div class="nav-mobile">
                    <span class="icon-menu"></span>
                </div>

                <div class="nav-content">
                    <div class="nav-menu">
                        {% for item in menu %}
                            <a class="nav-item {{- app.request.get('_route') in item.matchRoute ? " active" : "" -}}"
                               href="{{ item.path }}"
                            >
                                <span>{{ item.name }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="nav-cta">
                    <div class="nav-menu">
                        <div class="nav-item">
                            <span>04 91 99 44 43</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <main>
            <div>
                {% block main_content %}{% endblock %}
            </div>

            {% block footer %}{% endblock %}
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_app') }}
{% endblock %}
