{% extends 'app/layout/layout.html.twig' %}

{% block title %}Logilink, éditeur de logiciel, applications et sites internet sur mesure{% endblock %}

{% block meta_description %}Découvrez notre agence Logilink basée à Marseille, spécialisée dans le développement de logiciels, d'applications mobiles, de services web et de sites internet, avec une spécialisation approfondie dans le secteur de l'immobilier. Notre équipe dédiée conjugue innovation technologique et connaissance approfondie du marché immobilier pour offrir des solutions numériques sur mesure. Contactez-nous pour bénéficier de services de pointe, centrés sur la performance, la sécurité et l'expérience utilisateur, spécifiquement adaptés aux besoins du secteur immobilier à Marseille et ses environs.{% endblock %}
{% block meta_keywords %}logiciel immobilier, applications immobilières, agence web Marseille, développement d'applications, services web, sites internet, solutions numériques, expertise immobilière, innovation technologique, développement sur mesure{% endblock %}
{% block openGraph %}
    <meta property="og:description" content="Experts en développement numérique à Marseille, nous proposons des solutions sur mesure pour logiciels, applications, services web, avec une spécialisation avancée dans le secteur immobilier. Contactez-nous pour des projets innovants et performants spécifiquement adaptés aux besoins immobiliers.">
{% endblock %}
{% block twitter %}
    <meta name="twitter:description" content="Experts en développement numérique à Marseille, nous proposons des solutions sur mesure pour logiciels, applications, services web, avec une spécialisation avancée dans le secteur immobilier. Contactez-nous pour des projets innovants et performants spécifiquement adaptés aux besoins immobiliers.">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="homepage-content">
        <div class="homepage-guard">
            <div class="col-1">
                <div class="col-deco">
                    <div class="pattern-dots-lg"></div>
                </div>
                <div class="homepage-title">
                    <div class="prefix">Nos logiciels vous <span class="italic">simplifient la vie</span>.</div>
                    <h1>Transformez vos <span class="txt-color2">idées en</span> réalité numériques<span class="txt-color2">.</span></h1>
                    <p>
                        Editeur de logiciels d'entreprise, d'applications mobiles et de sites internet
                        sur-mesure, Logilink développe des solutions modernes, fiables et performants en réponse à toutes
                        vos exigences professionnelles.
                    </p>
                </div>

                <div class="cta">
                    <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                </div>
            </div>
            <div class="col-2">
                <a class="btn-start" href="#ultimmo">
                    <span class="icon-down-arrow"></span>
                </a>
            </div>
        </div>

        <div class="homepage-products">
            {% set products = [
                {
                    numero: 1, name: 'Logiciels', txtBtn: 'Les logiciels', pathBtn: path('app_softwares'),
                    text: 'Des solutions logicielles puissantes et adaptées à votre entreprise.'
                },
                {
                    numero: 2, name: 'Applications', txtBtn: 'Les applications', pathBtn: path('app_applications'),
                    text: 'Des applications conviviales et innovantes pour améliorer votre productivité.'
                },
                {
                    numero: 3, name: 'Sites internet', txtBtn: 'Les sites internet', pathBtn: path('app_websites'),
                    text: 'Des sites internet qui captivent l\'attention et stimulent la croissance de votre entreprise.'
                },
                {
                    numero: 4, name: 'Webservices', txtBtn: 'Les services en ligne', pathBtn: path('app_webservices'),
                    text: 'Des services en ligne et des solutions SaaS pour tout secteur d\'activité.'
                }
            ] %}
            <div class="items">
                {% for item in products %}
                    <div class="item">
                        <h2>{{ item.name }}</h2>
                        <div class="item-body">
                            <p>{{ item.text }}</p>
                            <div class="item-cta">
                                <a href="{{ item.pathBtn }}" class="link-italic">
                                    <span>Découvrir nos {{ item.name | lower }}</span>
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <section class="suite" id="ultimmo">
            <div class="section-title">
                <h2>Syndic - Gérance - Transaction<span class="txt-color2">.</span></h2>
                <p>
                    La suite ULTIMMO offre aux professionnels de l'immobilier une solution logicielle intégrée
                    complète. Elle couvre tous les besoins spécifiques des administrateurs de biens et des
                    transactionnaires en associant logiciels métiers, applications mobiles et services en ligne.
                </p>
            </div>

            <div class="suite-content">
                <div class="items">
                    <div class="items items-logiciels">
                        <div class="item">
                            <div>
                                <div class="logo">
                                    <img src="{{ asset('build/app/images/logos/syndic.svg') }}"
                                         alt="logo logiciel de gestion de copropriété ULTIMMO Syndic">
                                </div>
                                <h3>ULTIMMO Syndic</h3>
                                <p>
                                    Apprécié des administrateurs de biens, gérez vos copropriétés dans son intégralité.
                                </p>
                            </div>
                            <div class="item-cta">
                                <a class="link-italic" href="{{ path('app_softwares_syndic') }}">
                                    <span>Voir le logiciel </span> <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="logo">
                                    <img src="{{ asset('build/app/images/logos/gerance.svg') }}"
                                         alt="logo logiciel de gestion locative ULTIMMO Gérance">
                                </div>
                                <h3>ULTIMMO Gérance</h3>
                                <p>
                                    Dédiée à la gestion locative, sa conception repose sur des années de développement.
                                </p>
                            </div>
                            <div class="item-cta">
                                <a class="link-italic" href="{{ path('app_softwares_gerance') }}">
                                    <span>Voir le logiciel </span> <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="logo">
                                    <img src="{{ asset('build/app/images/logos/lotys.svg') }}"
                                         alt="logo lotys logiciel en lien de transaction immobilière">
                                </div>
                                <h3>Lotys Transaction</h3>
                                <p>
                                    Logiciel en ligne pour la transaction immobilière.
                                </p>
                            </div>
                            <div class="item-cta">
                                <a class="link-italic" href="{{ path('app_softwares_lotys') }}">
                                    <span>Voir le logiciel </span> <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="items items-applications">
                        <div class="item">
                            <div>
                                <div class="logo">
                                    <img src="{{ asset('build/app/images/logos/memento.png') }}"
                                         alt="logo application visite copropriete memento">
                                </div>
                                <h3>Memento</h3>
                                <p>
                                    Application de visite de copropriété.
                                </p>
                            </div>
                            <div class="item-cta">
                                <a class="link-italic" href="{{ path('app_applications_memento') }}">
                                    <span>Voir l'application </span> <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="logo">
                                    <img src="{{ asset('build/app/images/logos/fokus.png') }}"
                                         alt="logo application etat des lieux fokus immo">
                                </div>
                                <h3>Fokus</h3>
                                <p>
                                    Application mobile d’état des lieux.
                                </p>
                            </div>
                            <div class="item-cta">
                                <a class="link-italic" href="{{ path('app_applications_fokus') }}">
                                    <span>Voir l'application </span> <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-link-syndic"></div>
                    <div class="item-link-gerance"></div>
                </div>
            </div>

            <div class="section-title">
                <p>
                    Nos logiciels immobiliers ULTIMMO Syndic et ULTIMMO Gérance peuvent être utilisés en
                    local, sur votre serveur, ou en mode cloud via notre hébergement sécurisé.
                </p>

                <a class="link-italic" href="{{ path('app_softwares') }}">
                    <span>En savoir plus </span> <span class="icon-right-arrow"></span>
                </a>
            </div>
        </section>

        <div class="contact">
            <div class="section-title">
                <h2>Un <span class="txt-color2">projet</span> à réaliser <span class="txt-color2">?</span></h2>
            </div>
            <div class="contact-content">
                <p>
                    Contactez-nous dès aujourd'hui pour discuter de votre projet.
                    <br>
                    Logilink est déterminé à faire de vos idées une réalité numérique unique.
                </p>
                <div class="cta">
                    <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                </div>
            </div>
        </div>

        <section class="lastwork">
            <div class="section-title">
                <h2>Découvrez nos derniers travaux<span class="txt-color2">.</span></h2>
                <p>
                    La qualité et la performance sont au cœur de tout ce que nous faisons. Vos solutions seront rapides,
                    fiables et conçues pour offrir une expérience utilisateur exceptionnelle.
                </p>
            </div>

            <div class="lastwork-content">
                <div class="item">
                    <div class="item-image">
                        <img src="{{ asset('build/app/images/articles/article-lotys.png') }}"
                             alt="accueil logiciel en ligne transaction immobiliere lotys">
                    </div>
                    <div class="item-content">
                        <div class="badge badge-0">Logiciel en ligne</div>
                        <h3>Lotys</h3>
                        <p>Logiciel en ligne de transaction immobilière en ligne</p>
                        <a class="link-italic" href="{{ path('app_softwares_lotys') }}">
                            <span>Découvrir le projet</span> <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <div class="item-image">
                            <img src="{{ asset('build/app/images/articles/article-opendoc.jpg') }}"
                                 alt="accueil application tablette et mobile de signature de pdf opendoc">
                        </div>
                        <div class="item-content">
                            <div class="badge badge-1">Application</div>
                            <h3>OpenDoc</h3>
                            <p>Application de signatures de PDF et de partage de fichiers en ligne</p>
                            <a class="link-italic"
                               href="{{ path('app_applications_opendoc') }}"
                            >
                                <span>Découvrir le projet</span> <span class="icon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image">
                            <img src="{{ asset('build/app/images/articles/article-fokus.jpg') }}"
                                 alt="accueil application etat des lieux fokus">
                        </div>
                        <div class="item-content">
                            <div class="badge badge-1">Application</div>
                            <h3>Fokus</h3>
                            <p>Application d'état des lieux immobilier</p>
                            <a class="link-italic" href="{{ path('app_applications_fokus') }}">
                                <span>Découvrir le projet</span> <span class="icon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
