{% extends 'app/layout/layout.html.twig' %}

{% block title %}Logilink, éditeur de logiciel, applications et sites internet sur mesure{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="homepage-content">
        <div class="homepage-guard">
            <div class="col-1">
                <div class="col-deco">
                    <div class="pattern-dots-lg"></div>
                </div>
                <div class="homepage-title">
                    <div class="prefix">Nos logiciels vous <span class="italic">simplifient la vie</span>.</div>
                    <h1>Transformez vos <span class="txt-color2">idées en</span> réalité numériques<span class="txt-color2">.</span></h1>
                    <p>
                        Editeur de logiciels d'entreprise, d'applications mobile et tablette innovante et de sites internet
                        sur-mesure, Logilink développe des solutions modernes, fiables et performants en réponse à toutes
                        vos exigences professionnelles.
                    </p>
                </div>

                <div class="cta">
                    <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                </div>
            </div>
            <div class="col-2">
                <div class="btn-start">
                    <span class="icon-down-arrow"></span>
                </div>
            </div>
        </div>

        <div class="homepage-products">
            {% set products = [
                {
                    numero: 1, name: 'Logiciels', txtBtn: 'Les logiciels', pathBtn: path('app_software'),
                    text: 'Des solutions logicielles puissantes et adaptées à votre entreprise.'
                },
                {
                    numero: 2, name: 'Applications', txtBtn: 'Les applications', pathBtn: path('app_applications'),
                    text: 'Des applications conviviales et innovantes pour améliorer votre productivité.'
                },
                {
                    numero: 3, name: 'Sites internet', txtBtn: 'Les sites internet', pathBtn: path('app_websites'),
                    text: 'Des sites internet qui captivent l\'attention et stimulent la croissance de votre entreprise.'
                },
                {
                    numero: 4, name: 'Services', txtBtn: 'Les services', pathBtn: path('app_homepage'),
                    text: 'Simplifiez vous l\'installation du matériel informatique et l\'intégration de logiciels.'
                }
            ] %}
            <div class="items">
                {% for item in products %}
                    <div class="item">
                        <h2>{{ item.name }}</h2>
                        <div class="item-body">
                            <p>{{ item.text }}</p>
                            <div class="item-cta">
                                <a href="{{ item.pathBtn }}" class="link-italic">
                                    <span>Découvrir nos {{ item.name | lower }}</span>
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <section class="lastwork">
            <div class="section-title">
                <h2>Découvrez nos derniers travaux<span class="txt-color2">.</span></h2>
                <p>
                    La qualité et la performance sont au cœur de tout ce que nous faisons. Vos solutions seront rapides,
                    fiables et conçues pour offrir une expérience utilisateur exceptionnelle.
                </p>
            </div>

            <div class="lastwork-content">
                <div class="item">
                    <div class="item-image">
                        <img src="{{ asset('build/app/images/website/dashboard-lotys.png') }}" alt="logiciel en ligne transaction immobiliere lotys">
                    </div>
                    <div class="item-content">
                        <div class="badge badge-0">Logiciel en ligne</div>
                        <h3>Lotys</h3>
                        <p>Logiciel en ligne de transaction immobilière en ligne</p>
                        <a class="link-italic" href="{{ path('app_softwares_lotys') }}">
                            <span>Découvrir le projet</span> <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <div class="item-image">
                            <img src="{{ asset('build/app/images/website/dashboard-magesto.png') }}" alt="logiciel en ligne de facturation et de devis magesto">
                        </div>
                        <div class="item-content">
                            <div class="badge badge-0">Site internet</div>
                            <h3>Magesto</h3>
                            <p>Logiciel en ligne de devis et facturation en ligne</p>
                            <a href="" class="link-italic"><span>Découvrir le projet</span> <span class="icon-right-arrow"></span></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image">
                            <img src="{{ asset('build/app/images/website/dashboard-opendoc.png') }}" alt="application tablette et mobile de signature pdf">
                        </div>
                        <div class="item-content">
                            <div class="badge badge-1">Application</div>
                            <h3>OpenDoc</h3>
                            <p>Service de signature PDF et de partage de fichiers en ligne</p>
                            <a class="link-italic" href="{{ path('app_applications_opendoc') }}">
                                <span>Découvrir le projet</span> <span class="icon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="contact">
            <div class="section-title">
                <h2>Un <span class="txt-color2">projet</span> à réaliser <span class="txt-color2">?</span></h2>
            </div>
            <div class="contact-content">
                <p>
                    Contactez-nous dès aujourd'hui pour discuter de votre projet numérique.
                    <br>
                    Logilink est déterminé à faire de vos idées une réalité numérique unique.
                </p>
                <div class="cta">
                    <a class="btn btn-color2" href="tel:0491994443">04 91 99 44 43</a>
                </div>
            </div>
        </div>

        <section class="suite">
            <div class="section-title">
                <h2>Notre gamme immobilière<span class="txt-color2">.</span></h2>
                <p>
                    La suite logicielle dédiée à l'immobilier a tout pour doper votre activité.
                </p>
            </div>

            <div class="suite-content">
                <div class="items">
                    <div class="item">
                        <div>
                            <div class="logo">
                                <img src="{{ asset('build/app/images/lotys.svg') }}" alt="">
                            </div>
                            <h3>Lotys</h3>
                            <p>
                                Spécialement développé pour la transaction immobilière, autonome ou associé à Ultimmo Gérance.
                            </p>
                        </div>
                        <div class="item-cta">
                            <a class="link-italic" href="{{ path('app_softwares_lotys') }}">
                                <span>En savoir plus </span> <span class="icon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                       <div>
                           <div class="logo">
                               <img src="{{ asset('build/app/images/gerance.svg') }}" alt="">
                           </div>
                           <h3>Ultimmo Gérance</h3>
                           <p>
                               Dédiée à la gestion locative, sa conception repose sur de longues années de développement.
                           </p>
                       </div>
                        <div class="item-cta">
                            <a class="link-italic" href="{{ path('app_softwares_gerance') }}">
                                <span>En savoir plus </span> <span class="icon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div class="logo">
                                <img src="{{ asset('build/app/images/syndic.svg') }}" alt="">
                            </div>
                            <h3>Ultimmo Syndic</h3>
                            <p>
                                Apprécié des administrateurs de biens, gérez vos copropriétés dans son intégralité.
                            </p>
                        </div>
                        <div class="item-cta">
                            <a class="link-italic" href="{{ path('app_softwares_syndic') }}">
                                <span>En savoir plus </span> <span class="icon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
